In [66]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from scipy import stats as st
from math import factorial as ft 
import plotly.express as px
plt.style.use('ggplot')

In [67]:
county_data = pd.read_csv('/Users/admin/Desktop/GitHub/new_repos/housing-data-study/NewYork_DemographicsByCounty_sample.xlsx - 2022AmericanCommunitySurvey.csv', encoding = "utf-8")
HIC_COC_data = pd.read_csv('/Users/admin/Desktop/GitHub/new_repos/housing-data-study/2007-2023-HIC-Counts-by-CoC.xlsx - 2023.csv', encoding = "utf-8")
HIC_state_data = pd.read_csv('/Users/admin/Desktop/GitHub/new_repos/housing-data-study/2023-HIC-Counts-by-State.csv', encoding = "utf-8")

In [68]:
display(county_data.head(10))

           Unnamed: 0  Most Current Population Year  Population
0            New York                          2022  19,994,379
1       Albany County                          2022     315,041
2     Allegany County                          2022      47,222
3        Bronx County                          2022   1,443,229
4       Broome County                          2022     198,365
5  Cattaraugus County                          2022      77,000
6       Cayuga County                          2022      76,171
7   Chautauqua County                          2022     127,440
8      Chemung County                          2022      83,584
9     Chenango County                          2022      47,096

In [69]:
county_data = county_data.rename(columns={'Unnamed: 0': 'county_name', 'Population': 'population'})

In [70]:
display(county_data.head(10))
county_data['population'] = county_data['population'].apply(lambda x: str(x).replace(',', ''))

county_data['population'] = county_data['population'].astype(int)

          county_name  Most Current Population Year  population
0            New York                          2022  19,994,379
1       Albany County                          2022     315,041
2     Allegany County                          2022      47,222
3        Bronx County                          2022   1,443,229
4       Broome County                          2022     198,365
5  Cattaraugus County                          2022      77,000
6       Cayuga County                          2022      76,171
7   Chautauqua County                          2022     127,440
8      Chemung County                          2022      83,584
9     Chenango County                          2022      47,096

In [71]:
top_counties = county_data.groupby('county_name')['population'].sum().reset_index().rename(columns={0: 'population', 'county_name': 'county_name'}).sort_values(by='population', ascending=False)
#display(top_counties)
#top_counties.info()
top_fifteen_counties = top_counties.head(15)
display(top_fifteen_counties)

           county_name  population
30            New York    19994379
23        Kings County     2679620
41       Queens County     2360826
31     New York County     1645867
52      Suffolk County     1524486
2         Bronx County     1443229
29       Nassau County     1389160
60  Westchester County      997904
14         Erie County      951232
27       Monroe County      756406
43     Richmond County      492925
34     Onondaga County      472637
36       Orange County      401237
44     Rockland County      337326
0        Albany County      315041

In [72]:
#display(HIC_COC_data).sample(10)

In [73]:
#HIC_COC_data.info()

In [74]:
HIC_COC_data = HIC_COC_data.rename(columns={'CoC Number': 'coc_number'})

In [75]:
NY_COC_HIC = []
NY_COC_HIC = HIC_COC_data.query("coc_number.str.contains('NY')").reset_index()

In [76]:
display(NY_COC_HIC.sample(10))

,index,coc_number,"Total Year-Round Beds (ES, TH, SH)","Total Non-DV Year-Round Beds (ES, TH, SH)","Total HMIS Year-Round Beds (ES, TH, SH)","HMIS Participation Rate for Year-Round Beds (ES, TH, SH)",Total Year-Round Beds (ES),Total Year-Round Beds (TH),Total Year-Round Beds (SH),"Total Units for Households with Children (ES, TH, SH)",...,Total Year-Round Beds (OPH),Total Non-DV Year-Round Beds (OPH),Total HMIS Year-Round Beds (OPH),HMIS Participation Rate for Year-Round Beds (OPH),Total Units for Households with Children (OPH),Total Beds for Households with Children (OPH),Total Beds for Households without Children (OPH),Total Beds for Households with only Children (OPH),Dedicated Veteran Beds (OPH),Dedicated Youth Beds (OPH)
13,267,NY-520,17,12,0,0.00%,17,0,0,2,...,2,2,0,0.00%,1,2,0,0,0,0
23,277,NY-608,89,72,71,79.78%,77,12,0,13,...,36,36,36,100.00%,4,16,20,0,0,0
21,275,NY-604,1634,1583,1592,97.43%,1112,522,0,367,...,3082,3082,2390,77.55%,772,2628,454,0,0,0
1,255,NY-501,92,38,31,33.70%,52,40,0,28,...,0,0,0,NaN,0,0,0,0,0,0
17,271,NY-600,91411,87538,79772,87.27%,87955,3416,40,15920,...,7024,7024,0,0.00%,1752,5316,1708,0,0,0
4,258,NY-507,243,223,81,33.33%,173,70,0,26,...,19,19,9,47.37%,3,9,10,0,0,0
14,268,NY-522,37,11,11,29.73%,26,11,0,4,...,0,0,0,NaN,0,0,0,0,0,0
12,266,NY-519,35,0,0,0.00%,23,12,0,12,...,0,0,0,NaN,0,0,0,0,0,0
15,269,NY-523,120,102,102,85.00%,88,32,0,11,...,35,35,0,0.00%,5,15,20,0,0,0
5,259,NY-508,1546,1408,1351,87.39%,1102,444,0,172,...,70,70,70,100.00%,0,0,70,0,15,0

In [77]:
#display(HIC_state_data.sample(10))

In [81]:
#HIC_state_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28871 entries, 0 to 28870
Columns: 103 entries, Row # to HOPWAMedAssistedLivingFac
dtypes: float64(43), int64(34), object(26)
memory usage: 22.7+ MB

In [79]:
NY_state_HIC = []

NY_state_HIC = HIC_state_data.query("CocState.str.contains('NY')").reset_index()

In [80]:
NY_state_HIC.sample(10)

,index,Row #,CocState,CoC,Coc_ID,HudNum,Status,year,Organization ID,Organization Name,...,Total Beds,Updated On,mergedDefunctYear,questionUsesDescriptorElements,questionDesiresToUseDescriptorElements,notes,projectNotes,sandyRelated,sandyRelatedNote,HOPWAMedAssistedLivingFac
2010,21686,675639,NY,New York City CoC,1037,NY-600,Complete,2023,7260,Volunteers of America,...,12,4/25/2023 16:52,NaN,1,NaN,NaN,NaN,0,NaN,NaN
895,20571,676470,NY,New York City CoC,1037,NY-600,Complete,2023,8181,Center for Urban Community Services,...,305,4/24/2023 20:07,NaN,1,NaN,NaN,NaN,0,NaN,NaN
1313,20989,675026,NY,New York City CoC,1037,NY-600,Complete,2023,2322,Department of Homeless Services (NYC DHS),...,158,4/24/2023 20:06,NaN,1,NaN,NaN,NaN,0,NaN,NaN
2231,21907,623430,NY,Schenectady City & County CoC,1410,NY-507,Complete,2023,8247,City Mission of Schenectady,...,18,4/26/2023 12:26,NaN,1,NaN,2023 - AC Households remained the same. AO uti...,Change of name from City Mission Women's Shelter,0,NaN,NaN
1358,21034,674910,NY,New York City CoC,1037,NY-600,Complete,2023,2322,Department of Homeless Services (NYC DHS),...,391,4/24/2023 20:06,NaN,1,NaN,NaN,NaN,0,NaN,NaN
1890,21566,676427,NY,New York City CoC,1037,NY-600,Complete,2023,3673,The Jericho Project,...,123,4/24/2023 20:07,NaN,1,NaN,NaN,NaN,0,NaN,NaN
732,20408,610586,NY,New York Balance of State Continuum of Care,1506,NY-525,Complete,2023,10437,Montgomery County Department of Social Services,...,23,4/4/2023 18:49,NaN,0,1.0,NaN,NaN,0,NaN,NaN
742,20418,610567,NY,New York Balance of State Continuum of Care,1506,NY-525,Complete,2023,43495,Veteran's Administration - Buffalo,...,1,6/20/2023 21:00,NaN,0,1.0,NaN,NaN,0,NaN,NaN
1754,21430,675191,NY,New York City CoC,1037,NY-600,Complete,2023,6131,SCO Family of Services,...,20,4/24/2023 20:07,NaN,1,NaN,NaN,NaN,0,NaN,NaN
1726,21402,676452,NY,New York City CoC,1037,NY-600,Complete,2023,14088,Providence House Inc.,...,15,4/24/2023 20:07,NaN,1,NaN,NaN,NaN,0,NaN,NaN

In [88]:
NY_state_columns = ['CocState', 'CoC', 'Coc_ID', 'HudNum', 'Organization ID', 'Organization Name', 'Project Name', 'Project Type', 'Bed Type', 'beginsOperationsWithinYear', 'housingType', 'address1', 'address2', 'city', 'state', 'zip', 'Beds HH w/ Children', 'Units HH w/ Children', 'Veteran Beds HH w/ Children', 'Youth Beds HH w/ Children', 'CH Beds HH w/ Children', 'Beds HH w/o Children', 'Veteran Beds HH w/o Children', 'Youth Beds HH w/o Children', 'CH Beds HH w/o Children', 'Beds HH w/ only Children', 'CH Beds HH w only Children', 'Year-Round Beds', 'DV Beds', 'Total Seasonal Beds', 'Availability Start Date', 'Availability End Date', 'O/V Beds', 'PIT Count', 'Total Beds']

In [89]:
NY_state_HIC = NY_state_HIC[NY_state_columns]

In [90]:
NY_state_HIC.sample(10)

,CocState,CoC,Coc_ID,HudNum,Organization ID,Organization Name,Project Name,Project Type,Bed Type,beginsOperationsWithinYear,...,Beds HH w/ only Children,CH Beds HH w only Children,Year-Round Beds,DV Beds,Total Seasonal Beds,Availability Start Date,Availability End Date,O/V Beds,PIT Count,Total Beds
1499,NY,New York City CoC,1037,NY-600,14227,Hour Children Inc.,Hour Apartments - 35-54 11th Street,PSH,NaN,NaN,...,0.0,0.0,16,NaN,NaN,NaN,NaN,NaN,14.0,16
901,NY,New York City CoC,1037,NY-600,8181,Center for Urban Community Services,Edgecombe,PSH,NaN,NaN,...,0.0,0.0,6,NaN,NaN,NaN,NaN,NaN,6.0,6
702,NY,"Nassau, Suffolk Counties CoC",1019,NY-603,7206,United Veterans Beacon House,UVBH- Roosevelt,PSH,NaN,NaN,...,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,9.0,9
2227,NY,Schenectady City & County CoC,1410,NY-507,18313,Bethesda House of Schenectady,Pathways to the Future,PSH,NaN,NaN,...,0.0,NaN,4,NaN,NaN,NaN,NaN,NaN,4.0,4
124,NY,"Yonkers, Mount Vernon/Westchester County CoC",1305,NY-604,32922,Westchester County DSS,Turning Point,PSH,NaN,NaN,...,NaN,NaN,130,NaN,NaN,NaN,NaN,NaN,137.0,130
1403,NY,New York City CoC,1037,NY-600,2322,Department of Homeless Services (NYC DHS),Willow Men`s Shelter,ES,F,NaN,...,0.0,NaN,266,NaN,0.0,NaN,NaN,0.0,265.0,266
896,NY,New York City CoC,1037,NY-600,8181,Center for Urban Community Services,Betances,PSH,NaN,NaN,...,0.0,0.0,47,NaN,NaN,NaN,NaN,NaN,47.0,47
1720,NY,New York City CoC,1037,NY-600,5451,Project Renewal,Viviendas One: Category F: NY/NYIII,PSH,NaN,NaN,...,0.0,0.0,22,NaN,NaN,NaN,NaN,NaN,22.0,22
1286,NY,New York City CoC,1037,NY-600,2322,Department of Homeless Services (NYC DHS),PARKWOOD RESIDENCE,ES,F,NaN,...,0.0,NaN,514,NaN,0.0,NaN,NaN,0.0,498.0,514
1902,NY,New York City CoC,1037,NY-600,13993,The Lantern Group,Audubon Hall - HASA Single Adults (70),PSH,NaN,NaN,...,0.0,0.0,70,NaN,NaN,NaN,NaN,NaN,61.0,70

In [97]:
hud_num_df = NY_COC_HIC.merge(NY_state_HIC, left_on='coc_number', right_on='HudNum')

In [98]:
display(hud_num_df.head(10))

,index,coc_number,"Total Year-Round Beds (ES, TH, SH)","Total Non-DV Year-Round Beds (ES, TH, SH)","Total HMIS Year-Round Beds (ES, TH, SH)","HMIS Participation Rate for Year-Round Beds (ES, TH, SH)",Total Year-Round Beds (ES),Total Year-Round Beds (TH),Total Year-Round Beds (SH),"Total Units for Households with Children (ES, TH, SH)",...,Beds HH w/ only Children,CH Beds HH w only Children,Year-Round Beds,DV Beds,Total Seasonal Beds,Availability Start Date,Availability End Date,O/V Beds,PIT Count,Total Beds
0,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,15,NaN,NaN,NaN,NaN,NaN,15.0,15
1,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,10,NaN,0.0,NaN,NaN,0.0,10.0,10
2,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,25,NaN,0.0,NaN,NaN,12.0,37.0,37
3,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,15,NaN,0.0,NaN,NaN,0.0,4.0,15
4,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,9,NaN,NaN,NaN,NaN,NaN,8.0,9
5,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,0.0,59,NaN,NaN,NaN,NaN,NaN,57.0,59
6,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,47,NaN,0.0,NaN,NaN,6.0,53.0,53
7,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,10,NaN,0.0,NaN,NaN,0.0,6.0,10
8,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,405,NaN,NaN,NaN,NaN,NaN,NaN,405
9,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,14,NaN,0.0,NaN,NaN,0.0,14.0,14

In [99]:
hud_num_df.drop(['index'], axis=1, inplace=True)

In [101]:
display(hud_num_df.sample(10))

,coc_number,"Total Year-Round Beds (ES, TH, SH)","Total Non-DV Year-Round Beds (ES, TH, SH)","Total HMIS Year-Round Beds (ES, TH, SH)","HMIS Participation Rate for Year-Round Beds (ES, TH, SH)",Total Year-Round Beds (ES),Total Year-Round Beds (TH),Total Year-Round Beds (SH),"Total Units for Households with Children (ES, TH, SH)","Total Beds for Households with Children (ES, TH, SH)",...,Beds HH w/ only Children,CH Beds HH w only Children,Year-Round Beds,DV Beds,Total Seasonal Beds,Availability Start Date,Availability End Date,O/V Beds,PIT Count,Total Beds
1365,NY-600,91411,87538,79772,87.27%,87955,3416,40,15920,51402,...,0.0,NaN,147,NaN,0.0,NaN,NaN,0.0,141.0,147
2107,NY-601,752,700,691,91.89%,588,164,0,111,303,...,0.0,NaN,40,NaN,0.0,NaN,NaN,0.0,16.0,40
1092,NY-600,91411,87538,79772,87.27%,87955,3416,40,15920,51402,...,0.0,NaN,152,NaN,0.0,NaN,NaN,0.0,130.0,152
433,NY-510,166,160,148,89.16%,121,45,0,12,24,...,0.0,0.0,7,NaN,NaN,NaN,NaN,NaN,7.0,7
2283,NY-603,3545,3442,3442,97.09%,3424,101,20,610,2173,...,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,6.0,7
220,NY-505,740,689,689,93.11%,580,160,0,66,212,...,0.0,0.0,47,NaN,NaN,NaN,NaN,NaN,47.0,47
1338,NY-600,91411,87538,79772,87.27%,87955,3416,40,15920,51402,...,0.0,NaN,436,NaN,0.0,NaN,NaN,0.0,372.0,436
85,NY-500,835,786,776,92.93%,662,161,12,91,309,...,0.0,NaN,24,NaN,NaN,NaN,NaN,NaN,2.0,24
1007,NY-600,91411,87538,79772,87.27%,87955,3416,40,15920,51402,...,0.0,NaN,19,NaN,0.0,NaN,NaN,0.0,3.0,19
223,NY-505,740,689,689,93.11%,580,160,0,66,212,...,0.0,NaN,8,NaN,NaN,NaN,NaN,NaN,6.0,8

In [100]:
hud_num_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2467 entries, 0 to 2466
Columns: 112 entries, coc_number to Total Beds
dtypes: float64(17), int64(73), object(22)
memory usage: 2.1+ MB

In [ ]:
'''Row 
CocState
oC
Coc_ID
HudNum
Statusyear
Organization ID
Organization 
NameHMIS 
Org ID
useHmisDbProject 
IDProject 
NameHMIS 
Project ID
HIC Date
Project Type
Bed Type
Geo Code
HMIS Participating
Inventory Type
beginsOperationsWithinYear
TargetPopulation
mcKinneyVentoEsg
mcKinneyVentoEsgEs
mcKinneyVentoEsgRrh
mcKinneyVentoEsgCov
mcKinneyVentoEsgEsCov
mcKinneyVentoEsgRrhCov
mcKinneyVentoCoc
mcKinneyVentoCocSh
mcKinneyVentoCocTh
mcKinneyVentoCocPsh
mcKinneyVentoCocRrh
mcKinneyVentoCocSro
mcKinneyVentoCocThRrh
mcKinneyVentoSpC
mcKinneyVentoS8
mcKinneyVentoShp
mcKinneyVentoYhdp
mcKinneyVentoYhdpRenewals
federalFundingVash
federalFundingSsvf
federalFundingGpd
federalFundingGpdBh
federalFundingGpdLd
federalFundingGpdHh
federalFundingGpdCt
federalFundingGpdSith
federalFundingGpdTp
federalFundingHchv
federalFundingHchvCrs
federalFundingHchvSh
federalFundingBcp
federalFundingTlp
federalFundingMgh
federalFundingRhyDp
federalFundingHopwa
federalFundingHopwaHmv
federalFundingHopwaPh
federalFundingHopwaStsf
federalFundingHopwaTh
federalFundingHopwaCovid
federalFundingPih
federalFundingHome
federalFundingHomeArp
federalFundingIndianEhv
federalFundingOther
federalFundingOtherSpecify
housingType
Victim Service Provider
address1
address2
city
state
zip
Beds HH w Children
Units HH w Children
Veteran Beds HH w Children
Youth Beds HH w Children
CH Beds HH w Children
Beds HH wo Children
Veteran Beds HH wo Children
Youth Beds HH wo Children
CH Beds HH wo Children
Beds HH w only Children
CH Beds HH w only Children
Year-Round Beds
DV Beds
Total Seasonal Beds
Availability Start Date
Availability End Date
O/V Beds
PIT Count
Total Beds
Updated On
mergedDefunctYear
questionUsesDescriptorElements
questionDesiresToUseDescriptorElements
notes
projectNotes
sandyRelated
sandyRelatedNote
HOPWAMedAssistedLivingFac
'''