In [472]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from scipy import stats as st
from math import factorial as ft 
import plotly.express as px
plt.style.use('ggplot')

In [473]:
county_data = pd.read_csv('/Users/admin/Desktop/GitHub/new_repos/housing-data-study/NewYork_DemographicsByCounty_sample.xlsx - 2022AmericanCommunitySurvey.csv', encoding = "utf-8")
HIC_COC_data = pd.read_csv('/Users/admin/Desktop/GitHub/new_repos/housing-data-study/2007-2023-HIC-Counts-by-CoC.xlsx - 2023.csv', encoding = "utf-8")
HIC_state_data = pd.read_csv('/Users/admin/Desktop/GitHub/new_repos/housing-data-study/2023-HIC-Counts-by-State.csv', encoding = "utf-8")

In [474]:
display(county_data.head(10))

           Unnamed: 0  Most Current Population Year  Population
0            New York                          2022  19,994,379
1       Albany County                          2022     315,041
2     Allegany County                          2022      47,222
3        Bronx County                          2022   1,443,229
4       Broome County                          2022     198,365
5  Cattaraugus County                          2022      77,000
6       Cayuga County                          2022      76,171
7   Chautauqua County                          2022     127,440
8      Chemung County                          2022      83,584
9     Chenango County                          2022      47,096

In [475]:
county_data = county_data.rename(columns={'Unnamed: 0': 'county_name', 'Population': 'population'})

In [476]:
display(county_data.head(10))
county_data['population'] = county_data['population'].apply(lambda x: str(x).replace(',', ''))

county_data['population'] = county_data['population'].astype(int)

          county_name  Most Current Population Year  population
0            New York                          2022  19,994,379
1       Albany County                          2022     315,041
2     Allegany County                          2022      47,222
3        Bronx County                          2022   1,443,229
4       Broome County                          2022     198,365
5  Cattaraugus County                          2022      77,000
6       Cayuga County                          2022      76,171
7   Chautauqua County                          2022     127,440
8      Chemung County                          2022      83,584
9     Chenango County                          2022      47,096

In [477]:
top_counties = county_data.groupby('county_name')['population'].sum().reset_index().rename(columns={0: 'population', 'county_name': 'county_name'}).sort_values(by='population', ascending=False)
#display(top_counties)
#top_counties.info()
top_fifteen_counties = top_counties.head(16)
display(top_fifteen_counties)

           county_name  population
30            New York    19994379
23        Kings County     2679620
41       Queens County     2360826
31     New York County     1645867
52      Suffolk County     1524486
2         Bronx County     1443229
29       Nassau County     1389160
60  Westchester County      997904
14         Erie County      951232
27       Monroe County      756406
43     Richmond County      492925
34     Onondaga County      472637
36       Orange County      401237
44     Rockland County      337326
0        Albany County      315041
13     Dutchess County      296467

In [478]:
#display(HIC_COC_data).sample(10)

In [479]:
#HIC_COC_data.info()

In [480]:
HIC_COC_data = HIC_COC_data.rename(columns={'CoC Number': 'coc_number'})

In [481]:
NY_COC_HIC = []
NY_COC_HIC = HIC_COC_data.query("coc_number.str.contains('NY')").reset_index()

In [482]:
display(NY_COC_HIC.sample(10))

,index,coc_number,"Total Year-Round Beds (ES, TH, SH)","Total Non-DV Year-Round Beds (ES, TH, SH)","Total HMIS Year-Round Beds (ES, TH, SH)","HMIS Participation Rate for Year-Round Beds (ES, TH, SH)",Total Year-Round Beds (ES),Total Year-Round Beds (TH),Total Year-Round Beds (SH),"Total Units for Households with Children (ES, TH, SH)",...,Total Year-Round Beds (OPH),Total Non-DV Year-Round Beds (OPH),Total HMIS Year-Round Beds (OPH),HMIS Participation Rate for Year-Round Beds (OPH),Total Units for Households with Children (OPH),Total Beds for Households with Children (OPH),Total Beds for Households without Children (OPH),Total Beds for Households with only Children (OPH),Dedicated Veteran Beds (OPH),Dedicated Youth Beds (OPH)
21,275,NY-604,1634,1583,1592,97.43%,1112,522,0,367,...,3082,3082,2390,77.55%,772,2628,454,0,0,0
17,271,NY-600,91411,87538,79772,87.27%,87955,3416,40,15920,...,7024,7024,0,0.00%,1752,5316,1708,0,0,0
3,257,NY-505,740,689,689,93.11%,580,160,0,66,...,538,532,353,65.61%,109,304,234,0,5,0
22,276,NY-606,73,63,63,86.30%,43,30,0,13,...,170,170,0,0.00%,43,85,85,0,0,0
18,272,NY-601,752,700,691,91.89%,588,164,0,111,...,21,21,0,0.00%,0,0,21,0,0,0
11,265,NY-518,304,276,276,90.79%,267,37,0,47,...,28,28,11,39.29%,5,10,18,0,11,0
7,261,NY-511,619,593,585,94.51%,558,61,0,50,...,39,39,39,100.00%,3,5,34,0,0,0
14,268,NY-522,37,11,11,29.73%,26,11,0,4,...,0,0,0,NaN,0,0,0,0,0,0
23,277,NY-608,89,72,71,79.78%,77,12,0,13,...,36,36,36,100.00%,4,16,20,0,0,0
19,273,NY-602,264,242,242,91.67%,217,47,0,43,...,66,66,66,100.00%,15,60,6,0,0,0

In [483]:
#display(HIC_state_data.sample(10))
print(NY_COC_HIC.query("coc_number == 'NY-600'").count())

index                                                 1
coc_number                                            1
Total Year-Round Beds (ES, TH, SH)                    1
Total Non-DV Year-Round Beds (ES, TH, SH)             1
Total HMIS Year-Round Beds (ES, TH, SH)               1
                                                     ..
Total Beds for Households with Children (OPH)         1
Total Beds for Households without Children (OPH)      1
Total Beds for Households with only Children (OPH)    1
Dedicated Veteran Beds (OPH)                          1
Dedicated Youth Beds (OPH)                            1
Length: 78, dtype: int64

In [484]:
#HIC_state_data.info()

In [485]:
NY_state_HIC = []

NY_state_HIC = HIC_state_data.query("CocState.str.contains('NY')").reset_index()

In [486]:
NY_state_HIC.sample(10)

,index,Row #,CocState,CoC,Coc_ID,HudNum,Status,year,Organization ID,Organization Name,...,Total Beds,Updated On,mergedDefunctYear,questionUsesDescriptorElements,questionDesiresToUseDescriptorElements,notes,projectNotes,sandyRelated,sandyRelatedNote,HOPWAMedAssistedLivingFac
2180,21856,635116,NY,"Rochester, Irondequoit, Greece/Monroe County CoC",1415,NY-500,Complete,2023,1491,The Center For Youth Services,...,8,4/26/2023 15:09,NaN,1,NaN,NaN,NaN,0,NaN,2.0
584,20260,616293,NY,"Nassau, Suffolk Counties CoC",1019,NY-603,Complete,2023,31759,Halo Network Inc.,...,4,3/28/2023 15:36,NaN,1,NaN,Multi-adult,NaN,0,NaN,NaN
1974,21650,675330,NY,New York City CoC,1037,NY-600,Complete,2023,7214,Urban Resource Institute,...,89,4/24/2023 20:07,NaN,1,NaN,NaN,NaN,0,NaN,NaN
582,20258,616292,NY,"Nassau, Suffolk Counties CoC",1019,NY-603,Complete,2023,31759,Halo Network Inc.,...,8,3/28/2023 15:23,NaN,1,NaN,Multi-adult,NaN,0,NaN,NaN
2458,22134,629391,NY,"Yonkers, Mount Vernon/Westchester County CoC",1305,NY-604,Complete,2023,10312,Westhab,...,80,4/19/2023 15:21,NaN,1,NaN,NaN,NaN,0,NaN,NaN
1140,20816,675180,NY,New York City CoC,1037,NY-600,Complete,2023,2322,Department of Homeless Services (NYC DHS),...,60,4/24/2023 20:06,NaN,1,NaN,NaN,NaN,0,NaN,NaN
2166,21842,635113,NY,"Rochester, Irondequoit, Greece/Monroe County CoC",1415,NY-500,Complete,2023,6074,Salvation Army,...,17,4/26/2023 15:00,NaN,1,NaN,NaN,NaN,0,NaN,2.0
1697,21373,675649,NY,New York City CoC,1037,NY-600,Complete,2023,5213,Project Hospitality,...,25,4/24/2023 20:07,NaN,1,NaN,NaN,NaN,0,NaN,NaN
1460,21136,675238,NY,New York City CoC,1037,NY-600,Complete,2023,20370,GEMS,...,9,4/24/2023 20:07,NaN,1,NaN,NaN,NaN,0,NaN,NaN
983,20659,676169,NY,New York City CoC,1037,NY-600,Complete,2023,1664,Concern for Independent Living,...,58,4/24/2023 20:07,NaN,1,NaN,NaN,NaN,0,NaN,NaN

In [487]:
NY_state_columns = ['CocState', 'CoC', 'Coc_ID', 'HudNum', 'Organization ID', 'Organization Name', 'Project Name', 'Project Type', 'Bed Type', 'beginsOperationsWithinYear', 'housingType', 'address1', 'address2', 'city', 'state', 'zip', 'Beds HH w/ Children', 'Units HH w/ Children', 'Veteran Beds HH w/ Children', 'Youth Beds HH w/ Children', 'CH Beds HH w/ Children', 'Beds HH w/o Children', 'Veteran Beds HH w/o Children', 'Youth Beds HH w/o Children', 'CH Beds HH w/o Children', 'Beds HH w/ only Children', 'CH Beds HH w only Children', 'Year-Round Beds', 'DV Beds', 'Total Seasonal Beds', 'O/V Beds', 'PIT Count', 'Total Beds']

In [488]:
NY_state_HIC = NY_state_HIC[NY_state_columns]

In [489]:
NY_state_HIC.sample(10)

,CocState,CoC,Coc_ID,HudNum,Organization ID,Organization Name,Project Name,Project Type,Bed Type,beginsOperationsWithinYear,...,Youth Beds HH w/o Children,CH Beds HH w/o Children,Beds HH w/ only Children,CH Beds HH w only Children,Year-Round Beds,DV Beds,Total Seasonal Beds,O/V Beds,PIT Count,Total Beds
1539,NY,New York City CoC,1037,NY-600,3733,Institute for Community Living,Bronx Supported Housing Program,PSH,NaN,NaN,...,0.0,37.0,0.0,0.0,39,NaN,NaN,NaN,35.0,39
2216,NY,Rockland County CoC,1042,NY-606,5533,Rockland County DSS,RCDSS - RRH 1,RRH,NaN,NaN,...,0.0,NaN,0.0,NaN,8,NaN,NaN,NaN,8.0,8
1483,NY,New York City CoC,1037,NY-600,3517,HELP USA,HELP HAVEN,ES,F,NaN,...,0.0,NaN,0.0,NaN,85,85.0,0.0,0.0,74.0,85
1932,NY,New York City CoC,1037,NY-600,10122,Transitional Services for New York (TSI),Scattered Site (families) - 10-16 162nd Street,PSH,NaN,NaN,...,0.0,0.0,0.0,0.0,29,NaN,NaN,NaN,29.0,29
1423,NY,New York City CoC,1037,NY-600,2324,Department of Housing Preservation and Develop...,HPD Ruth Fernandez,ES,F,NaN,...,0.0,NaN,0.0,NaN,255,NaN,0.0,0.0,247.0,255
349,NY,"Buffalo, Niagara Falls/Erie, Niagara, Orleans,...",1125,NY-508,13225,Temple of Christ,My Place Home,ES,F,NaN,...,0.0,NaN,NaN,NaN,32,NaN,NaN,NaN,32.0,32
595,NY,"Nassau, Suffolk Counties CoC",1019,NY-603,10569,Haven House Bridges Shelters,Village HOPWA,PSH,NaN,NaN,...,0.0,0.0,NaN,NaN,6,NaN,NaN,NaN,5.0,6
485,NY,Kingston/Ulster County CoC,1201,NY-608,8590,Family of Woodstock,Domestic Violence,ES,F,NaN,...,0.0,NaN,0.0,NaN,17,17.0,0.0,0.0,12.0,17
1055,NY,New York City CoC,1037,NY-600,2322,Department of Homeless Services (NYC DHS),BOYNTON FAMILY RESIDENCE,ES,F,NaN,...,0.0,NaN,0.0,NaN,344,NaN,0.0,0.0,330.0,344
425,NY,"Glens Falls, Saratoga Springs/Saratoga, Washin...",1436,NY-523,45588,St. Paul's Center,Cabrini Health RRH,RRH,NaN,NaN,...,0.0,NaN,0.0,NaN,2,NaN,NaN,NaN,2.0,2

In [490]:
print(NY_state_HIC.query("HudNum == 'NY-600'").count())

CocState                        1318
CoC                             1318
Coc_ID                          1318
HudNum                          1318
Organization ID                 1318
Organization Name               1318
Project Name                    1318
Project Type                    1318
Bed Type                         528
beginsOperationsWithinYear         0
housingType                     1318
address1                        1263
address2                           0
city                            1317
state                           1318
zip                             1263
Beds HH w/ Children             1315
Units HH w/ Children            1315
Veteran Beds HH w/ Children     1315
Youth Beds HH w/ Children       1315
CH Beds HH w/ Children           703
Beds HH w/o Children            1317
Veteran Beds HH w/o Children    1318
Youth Beds HH w/o Children      1318
CH Beds HH w/o Children          705
Beds HH w/ only Children        1315
CH Beds HH w only Children       702
Year-Round Beds                 1318
DV Beds                           73
Total Seasonal Beds              528
O/V Beds                         528
PIT Count                       1318
Total Beds                      1318
dtype: int64

In [491]:
hud_num_df = NY_COC_HIC.merge(NY_state_HIC, left_on='coc_number', right_on='HudNum')

In [492]:
display(hud_num_df.head(10))

,index,coc_number,"Total Year-Round Beds (ES, TH, SH)","Total Non-DV Year-Round Beds (ES, TH, SH)","Total HMIS Year-Round Beds (ES, TH, SH)","HMIS Participation Rate for Year-Round Beds (ES, TH, SH)",Total Year-Round Beds (ES),Total Year-Round Beds (TH),Total Year-Round Beds (SH),"Total Units for Households with Children (ES, TH, SH)",...,Youth Beds HH w/o Children,CH Beds HH w/o Children,Beds HH w/ only Children,CH Beds HH w only Children,Year-Round Beds,DV Beds,Total Seasonal Beds,O/V Beds,PIT Count,Total Beds
0,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,0.0,NaN,15,NaN,NaN,NaN,15.0,15
1,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,0.0,NaN,10,NaN,0.0,0.0,10.0,10
2,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,0.0,NaN,25,NaN,0.0,12.0,37.0,37
3,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,0.0,NaN,15,NaN,0.0,0.0,4.0,15
4,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,0.0,NaN,9,NaN,NaN,NaN,8.0,9
5,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,0.0,0.0,0.0,59,NaN,NaN,NaN,57.0,59
6,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,0.0,NaN,47,NaN,0.0,6.0,53.0,53
7,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,0.0,NaN,10,NaN,0.0,0.0,6.0,10
8,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,0.0,NaN,405,NaN,NaN,NaN,NaN,405
9,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,0.0,NaN,14,NaN,0.0,0.0,14.0,14

In [493]:
hud_num_df.drop(['index'], axis=1, inplace=True)

In [494]:
display(hud_num_df.sample(10))

,coc_number,"Total Year-Round Beds (ES, TH, SH)","Total Non-DV Year-Round Beds (ES, TH, SH)","Total HMIS Year-Round Beds (ES, TH, SH)","HMIS Participation Rate for Year-Round Beds (ES, TH, SH)",Total Year-Round Beds (ES),Total Year-Round Beds (TH),Total Year-Round Beds (SH),"Total Units for Households with Children (ES, TH, SH)","Total Beds for Households with Children (ES, TH, SH)",...,Youth Beds HH w/o Children,CH Beds HH w/o Children,Beds HH w/ only Children,CH Beds HH w only Children,Year-Round Beds,DV Beds,Total Seasonal Beds,O/V Beds,PIT Count,Total Beds
209,NY-505,740,689,689,93.11%,580,160,0,66,212,...,0.0,NaN,0.0,NaN,2,NaN,NaN,NaN,2.0,2
1482,NY-600,91411,87538,79772,87.27%,87955,3416,40,15920,51402,...,0.0,40.0,0.0,0.0,40,NaN,NaN,NaN,29.0,40
501,NY-512,123,78,76,61.79%,84,39,0,33,79,...,0.0,NaN,0.0,NaN,39,NaN,NaN,NaN,39.0,39
2376,NY-604,1634,1583,1592,97.43%,1112,522,0,367,1078,...,NaN,NaN,NaN,NaN,210,NaN,NaN,NaN,110.0,210
1989,NY-600,91411,87538,79772,87.27%,87955,3416,40,15920,51402,...,0.0,NaN,0.0,NaN,58,58.0,NaN,NaN,56.0,58
9,NY-500,835,786,776,92.93%,662,161,12,91,309,...,0.0,NaN,0.0,NaN,14,NaN,0.0,0.0,14.0,14
1649,NY-600,91411,87538,79772,87.27%,87955,3416,40,15920,51402,...,0.0,NaN,0.0,NaN,5790,NaN,NaN,NaN,5790.0,5790
1712,NY-600,91411,87538,79772,87.27%,87955,3416,40,15920,51402,...,3.0,NaN,0.0,NaN,3,NaN,0.0,0.0,3.0,3
1939,NY-600,91411,87538,79772,87.27%,87955,3416,40,15920,51402,...,0.0,18.0,0.0,0.0,18,NaN,NaN,NaN,17.0,18
1584,NY-600,91411,87538,79772,87.27%,87955,3416,40,15920,51402,...,0.0,82.0,0.0,0.0,82,NaN,NaN,NaN,69.0,82

In [495]:
hud_num_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2467 entries, 0 to 2466
Columns: 110 entries, coc_number to Total Beds
dtypes: float64(17), int64(73), object(20)
memory usage: 2.1+ MB

In [496]:
hud_num_df.to_csv('hud_numbers', index=False)

In [497]:
hud_num_columns = ['coc_number', 'Total Year-Round Beds (ES, TH, SH)', 'Total Non-DV Year-Round Beds (ES, TH, SH)', 'Total HMIS Year-Round Beds (ES, TH, SH)', 'Total Year-Round Beds (ES)', 'Total Year-Round Beds (TH)', 'Total Year-Round Beds (SH)', 'Total Units for Households with Children (ES, TH, SH)', 'Total Beds for Households with Children (ES, TH, SH)', 'Total Beds for Households without Children (ES, TH, SH)', 'Total Beds for Households with only Children (ES, TH, SH)', 'Total Non-DV Year-Round Beds (ES)', 'Total HMIS Year-Round Beds (ES)', 'Total Seasonal Beds (ES)', 'Total Overflow Beds (ES)', 'Total Units for Households with Children (ES)', 'Total Beds for Households with Children (ES)', 'Total Beds for Households without Children (ES)', 'Total Beds for Households with only Children (ES)', 'Total Non-DV Year-Round Beds (TH)', 'Total HMIS Year-Round Beds (TH)', 'Total Units for Households with Children (TH)', 'Total Beds for Households with Children (TH)', 'Total Beds for Households without Children (TH)', 'Total Beds for Households with only Children (TH)', 'Total Non-DV Year-Round Beds (SH)', 'Total HMIS Year-Round Beds (SH)', 'Total Units for Households with Children (SH)', 'Total Beds for Households with Children (SH)', 'Total Beds for Households without Children (SH)', 'Total Beds for Households with only Children (SH)', 'Total Year-Round Beds (RRH)', 'Total Non-DV Year-Round Beds (RRH)', 'Total HMIS Year-Round Beds (RRH)', 'Total Units for Households with Children (RRH)', 'Total Beds for Households with Children (RRH)', 'Total Beds for Households without Children (RRH)', 'Total Beds for Households with only Children (RRH)', 'Total Year-Round Beds (PSH)', 'Total Non-DV Year-Round Beds (PSH)', 'Total HMIS Year-Round Beds (PSH)', 'Total Units for Households with Children (PSH)', 'Total Beds for Households with Children (PSH)', 'Total Beds for Households without Children (PSH)', 'Total Beds for Households with only Children (PSH)', 'Dedicated Chronically Homeless Beds (PSH)', 'Total Year-Round Beds (OPH)', 'Total Non-DV Year-Round Beds (OPH)', 'Total HMIS Year-Round Beds (OPH)', 'Total Units for Households with Children (OPH)', 'Total Beds for Households with Children (OPH)', 'Total Beds for Households without Children (OPH)', 'Total Beds for Households with only Children (OPH)', 'CoC', 'Coc_ID', 'Organization ID', 'Organization Name', 'Project Name', 'Project Type', 'Bed Type', 'beginsOperationsWithinYear', 'housingType', 'address1', 'address2', 'city', 'state', 'zip', 'Beds HH w/ Children', 'Units HH w/ Children', 'CH Beds HH w/ Children', 'Beds HH w/o Children', 'CH Beds HH w/o Children', 'Beds HH w/ only Children', 'CH Beds HH w only Children', 'Year-Round Beds', 'DV Beds', 'Total Seasonal Beds', 'O/V Beds', 'PIT Count', 'Total Beds']

In [498]:
hud_num_df = hud_num_df[hud_num_columns]

In [499]:
hud_num_df = hud_num_df.query("CoC.str.contains('Suffolk') or CoC.str.contains('Nassau') or CoC.str.contains('Westchester') or CoC.str.contains('Erie') or CoC.str.contains('Monroe') or CoC.str.contains('Onondaga') or CoC.str.contains('Orange') or CoC.str.contains('Rockland') or CoC.str.contains('Albany') or CoC.str.contains('Dutchess')").reset_index()
#or CoC.str.contains('New York City')

In [500]:
hud_num_df.drop(['index'], axis=1, inplace=True)

In [501]:
hud_num_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 701 entries, 0 to 700
Data columns (total 80 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   coc_number                                                 701 non-null    object
 1   Total Year-Round Beds (ES, TH, SH)                         701 non-null    int64
 2   Total Non-DV Year-Round Beds (ES, TH, SH)                  701 non-null    int64
 3   Total HMIS Year-Round Beds (ES, TH, SH)                    701 non-null    int64
 4   Total Year-Round Beds (ES)                                 701 non-null    int64
 5   Total Year-Round Beds (TH)                                 701 non-null    int64
 6   Total Year-Round Beds (SH)                                 701 non-null    int64
 7   Total Units for Households with Children (ES, TH, SH)      701 non-null    int64
 8   Total Beds for Households with Children (ES, TH, SH)       701 non-null    int64
 9   Total Beds for Households without Children (ES, TH, SH)    701 non-null    int64
 10  Total Beds for Households with only Children (ES, TH, SH)  701 non-null    int64
 11  Total Non-DV Year-Round Beds (ES)                          701 non-null    int64
 12  Total HMIS Year-Round Beds (ES)                            701 non-null    int64
 13  Total Seasonal Beds (ES)                                   701 non-null    int64
 14  Total Overflow Beds (ES)                                   701 non-null    int64
 15  Total Units for Households with Children (ES)              701 non-null    int64
 16  Total Beds for Households with Children (ES)               701 non-null    int64
 17  Total Beds for Households without Children (ES)            701 non-null    int64
 18  Total Beds for Households with only Children (ES)          701 non-null    int64
 19  Total Non-DV Year-Round Beds (TH)                          701 non-null    int64
 20  Total HMIS Year-Round Beds (TH)                            701 non-null    int64
 21  Total Units for Households with Children (TH)              701 non-null    int64
 22  Total Beds for Households with Children (TH)               701 non-null    int64
 23  Total Beds for Households without Children (TH)            701 non-null    int64
 24  Total Beds for Households with only Children (TH)          701 non-null    int64
 25  Total Non-DV Year-Round Beds (SH)                          701 non-null    int64
 26  Total HMIS Year-Round Beds (SH)                            701 non-null    int64
 27  Total Units for Households with Children (SH)              701 non-null    int64
 28  Total Beds for Households with Children (SH)               701 non-null    int64
 29  Total Beds for Households without Children (SH)            701 non-null    int64
 30  Total Beds for Households with only Children (SH)          701 non-null    int64
 31  Total Year-Round Beds (RRH)                                701 non-null    int64
 32  Total Non-DV Year-Round Beds (RRH)                         701 non-null    int64
 33  Total HMIS Year-Round Beds (RRH)                           701 non-null    int64
 34  Total Units for Households with Children (RRH)             701 non-null    int64
 35  Total Beds for Households with Children (RRH)              701 non-null    int64
 36  Total Beds for Households without Children (RRH)           701 non-null    int64
 37  Total Beds for Households with only Children (RRH)         701 non-null    int64
 38  Total Year-Round Beds (PSH)                                701 non-null    int64
 39  Total Non-DV Year-Round Beds (PSH)                         701 non-null    int64
 40  Total HMIS Year-Round Beds (PSH)                           701 non-null    int64
 41  Total Units for Households with Children (PSH)             701 non-null    int64
 42  Total Beds for Households with Children (PSH)              701 non-null    int64
 43  Total Beds for Households without Children (PSH)           701 non-null    int64
 44  Total Beds for Households with only Children (PSH)         701 non-null    int64
 45  Dedicated Chronically Homeless Beds (PSH)                  701 non-null    int64
 46  Total Year-Round Beds (OPH)                                701 non-null    int64
 47  Total Non-DV Year-Round Beds (OPH)                         701 non-null    int64
 48  Total HMIS Year-Round Beds (OPH)                           701 non-null    int64
 49  Total Units for Households with Children (OPH)             701 non-null    int64
 50  Total Beds for Households with Children (OPH)              701 non-null    int64
 51  Total Beds for Households without Children (OPH)           701 non-null    int64
 52  Total Beds for Households with only Children (OPH)         701 non-null    int64
 53  CoC                                                        701 non-null    object
 54  Coc_ID                                                     701 non-null    int64
 55  Organization ID                                            701 non-null    int64
 56  Organization Name                                          701 non-null    object
 57  Project Name                                               701 non-null    object
 58  Project Type                                               701 non-null    object
 59  Bed Type                                                   245 non-null    object
 60  beginsOperationsWithinYear                                 8 non-null      float64
 61  housingType                                                701 non-null    object
 62  address1                                                   629 non-null    object
 63  address2                                                   13 non-null     object
 64  city                                                       634 non-null    object
 65  state                                                      636 non-null    object
 66  zip                                                        682 non-null    float64
 67  Beds HH w/ Children                                        557 non-null    float64
 68  Units HH w/ Children                                       555 non-null    float64
 69  CH Beds HH w/ Children                                     191 non-null    float64
 70  Beds HH w/o Children                                       650 non-null    float64
 71  CH Beds HH w/o Children                                    237 non-null    float64
 72  Beds HH w/ only Children                                   345 non-null    float64
 73  CH Beds HH w only Children                                 96 non-null     float64
 74  Year-Round Beds                                            701 non-null    int64
 75  DV Beds                                                    43 non-null     float64
 76  Total Seasonal Beds                                        93 non-null     float64
 77  O/V Beds                                                   89 non-null     float64
 78  PIT Count                                                  693 non-null    float64
 79  Total Beds                                                 701 non-null    int64
dtypes: float64(13), int64(56), object(11)
memory usage: 438.3+ KB

In [502]:
display(hud_num_df.sample(10))

,coc_number,"Total Year-Round Beds (ES, TH, SH)","Total Non-DV Year-Round Beds (ES, TH, SH)","Total HMIS Year-Round Beds (ES, TH, SH)",Total Year-Round Beds (ES),Total Year-Round Beds (TH),Total Year-Round Beds (SH),"Total Units for Households with Children (ES, TH, SH)","Total Beds for Households with Children (ES, TH, SH)","Total Beds for Households without Children (ES, TH, SH)",...,Beds HH w/o Children,CH Beds HH w/o Children,Beds HH w/ only Children,CH Beds HH w only Children,Year-Round Beds,DV Beds,Total Seasonal Beds,O/V Beds,PIT Count,Total Beds
411,NY-603,3545,3442,3442,3424,101,20,610,2173,1362,...,11.0,NaN,NaN,NaN,11,NaN,NaN,NaN,10.0,11
583,NY-603,3545,3442,3442,3424,101,20,610,2173,1362,...,6.0,0.0,NaN,NaN,6,NaN,NaN,NaN,4.0,6
592,NY-603,3545,3442,3442,3424,101,20,610,2173,1362,...,10.0,NaN,NaN,NaN,10,NaN,NaN,NaN,10.0,10
176,NY-505,740,689,689,580,160,0,66,212,510,...,10.0,NaN,0.0,NaN,22,NaN,NaN,NaN,14.0,22
697,NY-606,73,63,63,43,30,0,13,40,33,...,0.0,NaN,0.0,NaN,7,NaN,NaN,NaN,7.0,7
287,NY-508,1546,1408,1351,1102,444,0,172,589,928,...,5.0,NaN,0.0,NaN,7,NaN,NaN,NaN,7.0,7
206,NY-505,740,689,689,580,160,0,66,212,510,...,6.0,NaN,0.0,NaN,18,18.0,NaN,NaN,7.0,18
670,NY-604,1634,1583,1592,1112,522,0,367,1078,542,...,NaN,NaN,NaN,NaN,300,NaN,NaN,NaN,259.0,300
55,NY-500,835,786,776,662,161,12,91,309,512,...,20.0,0.0,0.0,0.0,22,NaN,NaN,NaN,6.0,22
6,NY-500,835,786,776,662,161,12,91,309,512,...,13.0,NaN,0.0,NaN,47,NaN,0.0,6.0,53.0,53

In [503]:
print(hud_num_df['CoC'].value_counts())

CoC
Nassau, Suffolk Counties CoC                                                    212
Buffalo, Niagara Falls/Erie, Niagara, Orleans, Genesee, Wyoming Counties CoC     96
Rochester, Irondequoit, Greece/Monroe County CoC                                 87
Syracuse, Auburn/Onondaga, Oswego, Cayuga Counties CoC                           84
Yonkers, Mount Vernon/Westchester County CoC                                     77
Albany City & County CoC                                                         61
Poughkeepsie/Dutchess County CoC                                                 37
Newburgh, Middletown/Orange County CoC                                           31
Rockland County CoC                                                              16
Name: count, dtype: int64

In [504]:
print(hud_num_df['Bed Type'].value_counts())
hud_num_df.drop(['Bed Type'], axis=1, inplace=True)

Bed Type
F    223
V     12
O     10
Name: count, dtype: int64

In [505]:
print(hud_num_df['beginsOperationsWithinYear'].value_counts())
hud_num_df.drop(['beginsOperationsWithinYear'], axis=1, inplace=True)

beginsOperationsWithinYear
1.0    8
Name: count, dtype: int64

In [506]:
print(hud_num_df['address1'].value_counts())
hud_num_df['address1'].fillna('None', inplace=True)

address1
202 E MAIN ST           12
239 Oneida Street        9
675 West Main Street     8
312 EXPRESSWAY DR S      7
1570 Buffalo Ave         7
                        ..
75 Hickory Street        1
1522 Main Street         1
1522 Main ST             1
324 Watson Street        1
50 Sanatorium Rd.        1
Name: count, Length: 455, dtype: int64

In [507]:
print(hud_num_df['address2'].value_counts())
hud_num_df['address2'].fillna('None', inplace=True)

address2
3rd Floor            4
St. 300              2
Suite 125            2
Rochester            1
PO Box 1320          1
336 Forest Avenue    1
5th Floor            1
Suite #340           1
Name: count, dtype: int64

In [508]:
print(hud_num_df['city'].value_counts())
hud_num_df['city'].fillna('None', inplace=True)

city
Rochester          83
Buffalo            47
ALBANY             45
SYRACUSE           40
Niagara Falls      18
                   ..
FARMINGDALE         1
Lake Ronkonkoma     1
WEST SAYVILLE       1
WADING RIVER        1
Rockland            1
Name: count, Length: 133, dtype: int64

In [509]:
print(hud_num_df['state'].value_counts())
hud_num_df['state'].fillna('None', inplace=True)

state
NY    620
NC      7
NV      4
MA      3
NM      2
Name: count, dtype: int64

In [510]:
print(hud_num_df['zip'].value_counts())
hud_num_df['zip'].fillna('None', inplace=True)

zip
12601.0    27
13202.0    21
12210.0    20
11550.0    18
14611.0    18
           ..
11951.0     1
11704.0     1
11777.0     1
11570.0     1
11796.0     1
Name: count, Length: 143, dtype: int64

In [511]:
print(hud_num_df['Beds HH w/ Children'].value_counts())
hud_num_df['Beds HH w/ Children'].fillna(0, inplace=True)
hud_num_df['Beds HH w/ Children'] = hud_num_df['Beds HH w/ Children'].astype(int)

Beds HH w/ Children
0.0      212
2.0       23
12.0      19
10.0      18
5.0       18
        ...
72.0       1
82.0       1
265.0      1
350.0      1
138.0      1
Name: count, Length: 91, dtype: int64

In [512]:
print(hud_num_df['Units HH w/ Children'].value_counts())
hud_num_df['Units HH w/ Children'].fillna(0, inplace=True)
hud_num_df['Units HH w/ Children'] = hud_num_df['Units HH w/ Children'].astype(int)

Units HH w/ Children
0.0      210
1.0       45
4.0       39
3.0       36
2.0       36
6.0       21
5.0       21
9.0       17
7.0       16
10.0      13
8.0       10
14.0       7
15.0       7
12.0       7
20.0       6
13.0       5
25.0       4
11.0       4
23.0       3
16.0       3
18.0       3
50.0       3
28.0       3
21.0       2
24.0       2
26.0       2
32.0       2
29.0       2
92.0       2
238.0      1
66.0       1
116.0      1
370.0      1
70.0       1
22.0       1
19.0       1
100.0      1
42.0       1
34.0       1
46.0       1
27.0       1
64.0       1
385.0      1
57.0       1
49.0       1
39.0       1
86.0       1
31.0       1
17.0       1
36.0       1
37.0       1
48.0       1
43.0       1
Name: count, dtype: int64

In [513]:
print(hud_num_df['CH Beds HH w/ Children'].value_counts())
hud_num_df['CH Beds HH w/ Children'].fillna(0, inplace=True)
hud_num_df['CH Beds HH w/ Children'] = hud_num_df['CH Beds HH w/ Children'].astype(int)

CH Beds HH w/ Children
0.0      150
7.0        3
12.0       3
5.0        2
13.0       2
10.0       2
3.0        2
17.0       2
16.0       2
2.0        2
26.0       2
37.0       1
49.0       1
110.0      1
8.0        1
46.0       1
55.0       1
24.0       1
265.0      1
82.0       1
15.0       1
14.0       1
4.0        1
88.0       1
9.0        1
32.0       1
6.0        1
11.0       1
25.0       1
35.0       1
Name: count, dtype: int64

In [514]:
print(hud_num_df['Beds HH w/o Children'].value_counts())
hud_num_df['Beds HH w/o Children'].fillna(0, inplace=True)
hud_num_df['Beds HH w/o Children'] = hud_num_df['Beds HH w/o Children'].astype(int)

Beds HH w/o Children
0.0      85
6.0      37
2.0      35
10.0     34
1.0      30
         ..
52.0      1
33.0      1
207.0     1
49.0      1
85.0      1
Name: count, Length: 87, dtype: int64

In [515]:
print(hud_num_df['CH Beds HH w/o Children'].value_counts())
hud_num_df['CH Beds HH w/o Children'].fillna(0, inplace=True)
hud_num_df['CH Beds HH w/o Children'] = hud_num_df['CH Beds HH w/o Children'].astype(int)

CH Beds HH w/o Children
0.0      151
1.0       10
6.0       10
5.0        5
4.0        5
11.0       4
13.0       4
2.0        4
28.0       3
16.0       3
32.0       3
22.0       2
12.0       2
30.0       2
7.0        2
15.0       2
3.0        2
38.0       2
50.0       2
20.0       2
8.0        2
49.0       1
449.0      1
59.0       1
54.0       1
25.0       1
40.0       1
14.0       1
68.0       1
23.0       1
21.0       1
126.0      1
39.0       1
27.0       1
34.0       1
10.0       1
Name: count, dtype: int64

In [516]:
print(hud_num_df['Beds HH w/ only Children'].value_counts())
hud_num_df['Beds HH w/ only Children'].fillna(0, inplace=True)
hud_num_df['Beds HH w/ only Children'] = hud_num_df['Beds HH w/ only Children'].astype(int)

Beds HH w/ only Children
0.0     328
2.0       3
3.0       3
8.0       2
12.0      2
1.0       1
10.0      1
15.0      1
9.0       1
13.0      1
6.0       1
14.0      1
Name: count, dtype: int64

In [517]:
print(hud_num_df['CH Beds HH w only Children'].value_counts())
hud_num_df['CH Beds HH w only Children'].fillna(0, inplace=True)
hud_num_df['CH Beds HH w only Children'] = hud_num_df['CH Beds HH w only Children'].astype(int)

CH Beds HH w only Children
0.0    96
Name: count, dtype: int64

In [518]:
print(hud_num_df['DV Beds'].value_counts())
hud_num_df.drop(['DV Beds'], axis=1, inplace=True)

DV Beds
18.0    3
0.0     3
9.0     3
13.0    3
20.0    2
27.0    2
22.0    2
30.0    2
12.0    2
6.0     2
5.0     2
17.0    2
19.0    2
34.0    1
8.0     1
2.0     1
43.0    1
15.0    1
49.0    1
11.0    1
48.0    1
7.0     1
31.0    1
24.0    1
98.0    1
10.0    1
Name: count, dtype: int64

In [519]:
print(hud_num_df['Total Seasonal Beds'].value_counts())
hud_num_df['Total Seasonal Beds'].fillna(0, inplace=True)
hud_num_df['Total Seasonal Beds'] = hud_num_df['Total Seasonal Beds'].astype(int)

Total Seasonal Beds
0.0      81
20.0      2
19.0      2
15.0      1
8.0       1
130.0     1
10.0      1
5.0       1
30.0      1
26.0      1
55.0      1
Name: count, dtype: int64

In [520]:
print(hud_num_df['O/V Beds'].value_counts())
hud_num_df['O/V Beds'].fillna(0, inplace=True)
hud_num_df['O/V Beds'] = hud_num_df['O/V Beds'].astype(int)

O/V Beds
0.0      69
8.0       2
4.0       2
6.0       2
75.0      1
156.0     1
83.0      1
16.0      1
10.0      1
12.0      1
7.0       1
91.0      1
82.0      1
5.0       1
15.0      1
32.0      1
132.0     1
69.0      1
Name: count, dtype: int64

In [521]:
print(hud_num_df['PIT Count'].value_counts())
hud_num_df['PIT Count'].fillna(0, inplace=True)
hud_num_df['PIT Count'] = hud_num_df['PIT Count'].astype(int)

PIT Count
6.0      34
5.0      31
7.0      30
9.0      28
8.0      27
         ..
128.0     1
74.0      1
93.0      1
98.0      1
170.0     1
Name: count, Length: 129, dtype: int64

In [522]:
hud_num_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 701 entries, 0 to 700
Data columns (total 77 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   coc_number                                                 701 non-null    object
 1   Total Year-Round Beds (ES, TH, SH)                         701 non-null    int64
 2   Total Non-DV Year-Round Beds (ES, TH, SH)                  701 non-null    int64
 3   Total HMIS Year-Round Beds (ES, TH, SH)                    701 non-null    int64
 4   Total Year-Round Beds (ES)                                 701 non-null    int64
 5   Total Year-Round Beds (TH)                                 701 non-null    int64
 6   Total Year-Round Beds (SH)                                 701 non-null    int64
 7   Total Units for Households with Children (ES, TH, SH)      701 non-null    int64
 8   Total Beds for Households with Children (ES, TH, SH)       701 non-null    int64
 9   Total Beds for Households without Children (ES, TH, SH)    701 non-null    int64
 10  Total Beds for Households with only Children (ES, TH, SH)  701 non-null    int64
 11  Total Non-DV Year-Round Beds (ES)                          701 non-null    int64
 12  Total HMIS Year-Round Beds (ES)                            701 non-null    int64
 13  Total Seasonal Beds (ES)                                   701 non-null    int64
 14  Total Overflow Beds (ES)                                   701 non-null    int64
 15  Total Units for Households with Children (ES)              701 non-null    int64
 16  Total Beds for Households with Children (ES)               701 non-null    int64
 17  Total Beds for Households without Children (ES)            701 non-null    int64
 18  Total Beds for Households with only Children (ES)          701 non-null    int64
 19  Total Non-DV Year-Round Beds (TH)                          701 non-null    int64
 20  Total HMIS Year-Round Beds (TH)                            701 non-null    int64
 21  Total Units for Households with Children (TH)              701 non-null    int64
 22  Total Beds for Households with Children (TH)               701 non-null    int64
 23  Total Beds for Households without Children (TH)            701 non-null    int64
 24  Total Beds for Households with only Children (TH)          701 non-null    int64
 25  Total Non-DV Year-Round Beds (SH)                          701 non-null    int64
 26  Total HMIS Year-Round Beds (SH)                            701 non-null    int64
 27  Total Units for Households with Children (SH)              701 non-null    int64
 28  Total Beds for Households with Children (SH)               701 non-null    int64
 29  Total Beds for Households without Children (SH)            701 non-null    int64
 30  Total Beds for Households with only Children (SH)          701 non-null    int64
 31  Total Year-Round Beds (RRH)                                701 non-null    int64
 32  Total Non-DV Year-Round Beds (RRH)                         701 non-null    int64
 33  Total HMIS Year-Round Beds (RRH)                           701 non-null    int64
 34  Total Units for Households with Children (RRH)             701 non-null    int64
 35  Total Beds for Households with Children (RRH)              701 non-null    int64
 36  Total Beds for Households without Children (RRH)           701 non-null    int64
 37  Total Beds for Households with only Children (RRH)         701 non-null    int64
 38  Total Year-Round Beds (PSH)                                701 non-null    int64
 39  Total Non-DV Year-Round Beds (PSH)                         701 non-null    int64
 40  Total HMIS Year-Round Beds (PSH)                           701 non-null    int64
 41  Total Units for Households with Children (PSH)             701 non-null    int64
 42  Total Beds for Households with Children (PSH)              701 non-null    int64
 43  Total Beds for Households without Children (PSH)           701 non-null    int64
 44  Total Beds for Households with only Children (PSH)         701 non-null    int64
 45  Dedicated Chronically Homeless Beds (PSH)                  701 non-null    int64
 46  Total Year-Round Beds (OPH)                                701 non-null    int64
 47  Total Non-DV Year-Round Beds (OPH)                         701 non-null    int64
 48  Total HMIS Year-Round Beds (OPH)                           701 non-null    int64
 49  Total Units for Households with Children (OPH)             701 non-null    int64
 50  Total Beds for Households with Children (OPH)              701 non-null    int64
 51  Total Beds for Households without Children (OPH)           701 non-null    int64
 52  Total Beds for Households with only Children (OPH)         701 non-null    int64
 53  CoC                                                        701 non-null    object
 54  Coc_ID                                                     701 non-null    int64
 55  Organization ID                                            701 non-null    int64
 56  Organization Name                                          701 non-null    object
 57  Project Name                                               701 non-null    object
 58  Project Type                                               701 non-null    object
 59  housingType                                                701 non-null    object
 60  address1                                                   701 non-null    object
 61  address2                                                   701 non-null    object
 62  city                                                       701 non-null    object
 63  state                                                      701 non-null    object
 64  zip                                                        701 non-null    object
 65  Beds HH w/ Children                                        701 non-null    int64
 66  Units HH w/ Children                                       701 non-null    int64
 67  CH Beds HH w/ Children                                     701 non-null    int64
 68  Beds HH w/o Children                                       701 non-null    int64
 69  CH Beds HH w/o Children                                    701 non-null    int64
 70  Beds HH w/ only Children                                   701 non-null    int64
 71  CH Beds HH w only Children                                 701 non-null    int64
 72  Year-Round Beds                                            701 non-null    int64
 73  Total Seasonal Beds                                        701 non-null    int64
 74  O/V Beds                                                   701 non-null    int64
 75  PIT Count                                                  701 non-null    int64
 76  Total Beds                                                 701 non-null    int64
dtypes: int64(66), object(11)
memory usage: 421.8+ KB

In [523]:
display(hud_num_df.sample(20))

,coc_number,"Total Year-Round Beds (ES, TH, SH)","Total Non-DV Year-Round Beds (ES, TH, SH)","Total HMIS Year-Round Beds (ES, TH, SH)",Total Year-Round Beds (ES),Total Year-Round Beds (TH),Total Year-Round Beds (SH),"Total Units for Households with Children (ES, TH, SH)","Total Beds for Households with Children (ES, TH, SH)","Total Beds for Households without Children (ES, TH, SH)",...,CH Beds HH w/ Children,Beds HH w/o Children,CH Beds HH w/o Children,Beds HH w/ only Children,CH Beds HH w only Children,Year-Round Beds,Total Seasonal Beds,O/V Beds,PIT Count,Total Beds
412,NY-603,3545,3442,3442,3424,101,20,610,2173,1362,...,0,4,0,0,0,4,0,0,4,4
692,NY-606,73,63,63,43,30,0,13,40,33,...,0,2,0,0,0,2,0,0,2,2
644,NY-604,1634,1583,1592,1112,522,0,367,1078,542,...,0,19,0,0,0,19,0,0,16,19
266,NY-508,1546,1408,1351,1102,444,0,172,589,928,...,0,9,0,0,0,21,0,0,21,21
658,NY-604,1634,1583,1592,1112,522,0,367,1078,542,...,0,50,0,0,0,50,0,4,81,54
65,NY-500,835,786,776,662,161,12,91,309,512,...,0,5,0,1,0,8,0,0,7,8
460,NY-603,3545,3442,3442,3424,101,20,610,2173,1362,...,0,21,0,0,0,21,0,0,20,21
347,NY-601,752,700,691,588,164,0,111,303,437,...,0,7,5,0,0,7,0,0,7,7
521,NY-603,3545,3442,3442,3424,101,20,610,2173,1362,...,0,4,0,0,0,4,0,0,3,4
700,NY-606,73,63,63,43,30,0,13,40,33,...,0,0,0,0,0,2,0,0,2,2
565,NY-603,3545,3442,3442,3424,101,20,610,2173,1362,...,0,2,0,0,0,20,0,0,16,20
298,NY-508,1546,1408,1351,1102,444,0,172,589,928,...,0,30,0,0,0,30,0,0,11,30
615,NY-604,1634,1583,1592,1112,522,0,367,1078,542,...,0,0,0,0,0,60,0,0,17,60
481,NY-603,3545,3442,3442,3424,101,20,610,2173,1362,...,0,5,0,0,0,5,0,0,3,5
639,NY-604,1634,1583,1592,1112,522,0,367,1078,542,...,0,3,0,0,0,3,0,0,3,3
408,NY-603,3545,3442,3442,3424,101,20,610,2173,1362,...,0,2,0,0,0,16,0,0,15,16
351,NY-601,752,700,691,588,164,0,111,303,437,...,0,58,0,0,0,58,0,0,46,58
486,NY-603,3545,3442,3442,3424,101,20,610,2173,1362,...,0,8,0,0,0,8,0,0,5,8
60,NY-500,835,786,776,662,161,12,91,309,512,...,0,6,0,0,0,6,0,0,4,6
361,NY-601,752,700,691,588,164,0,111,303,437,...,0,7,0,0,0,19,0,0,19,19

In [524]:
totals_by_county = hud_num_df.groupby(['CoC', 'Total Year-Round Beds (ES, TH, SH)', 'Total Year-Round Beds (ES)', 'Total Year-Round Beds (TH)', 'Total Year-Round Beds (SH)', 'Total Year-Round Beds (RRH)', 'Total Year-Round Beds (PSH)', 'Total Year-Round Beds (OPH)', 'PIT Count'])['Total Beds'].sum().reset_index().rename(columns={0: 'total_beds', 'CoC': 'CoC', 'Total Year-Round Beds (ES, TH, SH)': 'Total Year-Round Beds (ES, TH, SH)', 'Total Year-Round Beds (ES)': 'Total Year-Round Beds (ES)', 'Total Year-Round Beds (TH)': 'Total Year-Round Beds (TH)', 'Total Year-Round Beds (SH)': 'Total Year-Round Beds (SH)', 'Total Year-Round Beds (RRH)': 'Total Year-Round Beds (RRH)', 'Total Year-Round Beds (PSH)': 'Total Year-Round Beds (PSH)', 'Total Year-Round Beds (OPH)': 'Total Year-Round Beds (OPH)', 'PIT Count': 'PIT Count'})
display(totals_by_county)

,CoC,"Total Year-Round Beds (ES, TH, SH)",Total Year-Round Beds (ES),Total Year-Round Beds (TH),Total Year-Round Beds (SH),Total Year-Round Beds (RRH),Total Year-Round Beds (PSH),Total Year-Round Beds (OPH),PIT Count,Total Beds
0,Albany City & County CoC,473,314,157,2,283,822,25,1,10
1,Albany City & County CoC,473,314,157,2,283,822,25,2,11
2,Albany City & County CoC,473,314,157,2,283,822,25,4,26
3,Albany City & County CoC,473,314,157,2,283,822,25,5,40
4,Albany City & County CoC,473,314,157,2,283,822,25,6,6
...,...,...,...,...,...,...,...,...,...,...
345,"Yonkers, Mount Vernon/Westchester County CoC",1634,1112,522,0,228,1497,3082,182,182
346,"Yonkers, Mount Vernon/Westchester County CoC",1634,1112,522,0,228,1497,3082,259,300
347,"Yonkers, Mount Vernon/Westchester County CoC",1634,1112,522,0,228,1497,3082,647,647
348,"Yonkers, Mount Vernon/Westchester County CoC",1634,1112,522,0,228,1497,3082,779,673
349,"Yonkers, Mount Vernon/Westchester County CoC",1634,1112,522,0,228,1497,3082,1807,1807

In [525]:
ES_totals_by_county = hud_num_df.groupby(['CoC', 'Total Year-Round Beds (ES)', 'Total Non-DV Year-Round Beds (ES)', 'Total HMIS Year-Round Beds (ES)', 'Total Seasonal Beds (ES)', 'Total Overflow Beds (ES)', 'Total Units for Households with Children (ES)', 'Total Beds for Households with Children (ES)', 'Total Beds for Households without Children (ES)', 'Total Beds for Households with only Children (ES)', 'PIT Count'])['Total Beds'].sum().reset_index().rename(columns={0: 'total_beds', 'CoC': 'CoC', 'Total Year-Round Beds (ES)': 'Total Year-Round Beds (ES)', 'Total Non-DV Year-Round Beds (ES)': 'Total Non-DV Year-Round Beds (ES)', 'Total HMIS Year-Round Beds (ES)': 'Total HMIS Year-Round Beds (ES)', 'Total Seasonal Beds (ES)': 'Total Seasonal Beds (ES)', 'Total Overflow Beds (ES)': 'Total Overflow Beds (ES)', 'Total Units for Households with Children (ES)': 'Total Units for Households with Children (ES)', 'Total Beds for Households without Children (ES)': 'Total Beds for Households without Children (ES)', 'Total Beds for Households with only Children (ES)': 'Total Beds for Households with only Children (ES)', 'PIT Count': 'PIT Count'})

display(ES_totals_by_county)

,CoC,Total Year-Round Beds (ES),Total Non-DV Year-Round Beds (ES),Total HMIS Year-Round Beds (ES),Total Seasonal Beds (ES),Total Overflow Beds (ES),Total Units for Households with Children (ES),Total Beds for Households with Children (ES),Total Beds for Households without Children (ES),Total Beds for Households with only Children (ES),PIT Count,Total Beds
0,Albany City & County CoC,314,284,167,34,346,41,118,196,0,1,10
1,Albany City & County CoC,314,284,167,34,346,41,118,196,0,2,11
2,Albany City & County CoC,314,284,167,34,346,41,118,196,0,4,26
3,Albany City & County CoC,314,284,167,34,346,41,118,196,0,5,40
4,Albany City & County CoC,314,284,167,34,346,41,118,196,0,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...
345,"Yonkers, Mount Vernon/Westchester County CoC",1112,1073,1070,46,4,207,599,499,14,182,182
346,"Yonkers, Mount Vernon/Westchester County CoC",1112,1073,1070,46,4,207,599,499,14,259,300
347,"Yonkers, Mount Vernon/Westchester County CoC",1112,1073,1070,46,4,207,599,499,14,647,647
348,"Yonkers, Mount Vernon/Westchester County CoC",1112,1073,1070,46,4,207,599,499,14,779,673
349,"Yonkers, Mount Vernon/Westchester County CoC",1112,1073,1070,46,4,207,599,499,14,1807,1807

In [526]:
print(ES_totals_by_county['CoC'].value_counts())

CoC
Nassau, Suffolk Counties CoC                                                    61
Rochester, Irondequoit, Greece/Monroe County CoC                                50
Syracuse, Auburn/Onondaga, Oswego, Cayuga Counties CoC                          49
Buffalo, Niagara Falls/Erie, Niagara, Orleans, Genesee, Wyoming Counties CoC    47
Yonkers, Mount Vernon/Westchester County CoC                                    45
Albany City & County CoC                                                        38
Poughkeepsie/Dutchess County CoC                                                25
Newburgh, Middletown/Orange County CoC                                          24
Rockland County CoC                                                             11
Name: count, dtype: int64

In [527]:
TH_totals_by_county = hud_num_df.groupby(['CoC', 'Total Year-Round Beds (TH)', 'Total Non-DV Year-Round Beds (TH)', 'Total HMIS Year-Round Beds (TH)', 'Total Units for Households with Children (TH)', 'Total Beds for Households with Children (TH)', 'Total Beds for Households without Children (TH)', 'Total Beds for Households with only Children (TH)', 'PIT Count'])['Total Beds'].sum().reset_index().rename(columns={0: 'total_beds', 'CoC': 'CoC', 'Total Year-Round Beds (TH)': 'Total Year-Round Beds (TH)', 'Total Non-DV Year-Round Beds (TH)': 'Total Non-DV Year-Round Beds (TH)', 'Total HMIS Year-Round Beds (TH)': 'Total HMIS Year-Round Beds (TH)', 'Total Units for Households with Children (TH)': 'Total Units for Households with Children (TH)', 'Total Beds for Households without Children (TH)': 'Total Beds for Households without Children (TH)', 'Total Beds for Households with only Children (TH)': 'Total Beds for Households with only Children (TH)', 'PIT Count': 'PIT Count'})

display(TH_totals_by_county)

,CoC,Total Year-Round Beds (TH),Total Non-DV Year-Round Beds (TH),Total HMIS Year-Round Beds (TH),Total Units for Households with Children (TH),Total Beds for Households with Children (TH),Total Beds for Households without Children (TH),Total Beds for Households with only Children (TH),PIT Count,Total Beds
0,Albany City & County CoC,157,157,41,15,22,135,0,1,10
1,Albany City & County CoC,157,157,41,15,22,135,0,2,11
2,Albany City & County CoC,157,157,41,15,22,135,0,4,26
3,Albany City & County CoC,157,157,41,15,22,135,0,5,40
4,Albany City & County CoC,157,157,41,15,22,135,0,6,6
...,...,...,...,...,...,...,...,...,...,...
345,"Yonkers, Mount Vernon/Westchester County CoC",522,510,522,160,479,43,0,182,182
346,"Yonkers, Mount Vernon/Westchester County CoC",522,510,522,160,479,43,0,259,300
347,"Yonkers, Mount Vernon/Westchester County CoC",522,510,522,160,479,43,0,647,647
348,"Yonkers, Mount Vernon/Westchester County CoC",522,510,522,160,479,43,0,779,673
349,"Yonkers, Mount Vernon/Westchester County CoC",522,510,522,160,479,43,0,1807,1807

In [528]:
SH_totals_by_county = hud_num_df.groupby(['CoC', 'Total Year-Round Beds (SH)', 'Total Non-DV Year-Round Beds (SH)', 'Total HMIS Year-Round Beds (SH)', 'Total Units for Households with Children (SH)', 'Total Beds for Households with Children (SH)', 'Total Beds for Households without Children (SH)', 'Total Beds for Households with only Children (SH)', 'PIT Count'])['Total Beds'].sum().reset_index().rename(columns={0: 'total_beds', 'CoC': 'CoC', 'Total Year-Round Beds (SH)': 'Total Year-Round Beds (SH)', 'Total Non-DV Year-Round Beds (SH)': 'Total Non-DV Year-Round Beds (SH)', 'Total HMIS Year-Round Beds (SH)': 'Total HMIS Year-Round Beds (SH)', 'Total Units for Households with Children (SH)': 'Total Units for Households with Children (SH)', 'Total Beds for Households without Children (SH)': 'Total Beds for Households without Children (SH)', 'Total Beds for Households with only Children (SH)': 'Total Beds for Households with only Children (SH)', 'PIT Count': 'PIT Count'})

display(SH_totals_by_county)

,CoC,Total Year-Round Beds (SH),Total Non-DV Year-Round Beds (SH),Total HMIS Year-Round Beds (SH),Total Units for Households with Children (SH),Total Beds for Households with Children (SH),Total Beds for Households without Children (SH),Total Beds for Households with only Children (SH),PIT Count,Total Beds
0,Albany City & County CoC,2,2,2,0,0,2,0,1,10
1,Albany City & County CoC,2,2,2,0,0,2,0,2,11
2,Albany City & County CoC,2,2,2,0,0,2,0,4,26
3,Albany City & County CoC,2,2,2,0,0,2,0,5,40
4,Albany City & County CoC,2,2,2,0,0,2,0,6,6
...,...,...,...,...,...,...,...,...,...,...
345,"Yonkers, Mount Vernon/Westchester County CoC",0,0,0,0,0,0,0,182,182
346,"Yonkers, Mount Vernon/Westchester County CoC",0,0,0,0,0,0,0,259,300
347,"Yonkers, Mount Vernon/Westchester County CoC",0,0,0,0,0,0,0,647,647
348,"Yonkers, Mount Vernon/Westchester County CoC",0,0,0,0,0,0,0,779,673
349,"Yonkers, Mount Vernon/Westchester County CoC",0,0,0,0,0,0,0,1807,1807

In [529]:
RRH_totals_by_county = hud_num_df.groupby(['CoC', 'Total Year-Round Beds (RRH)', 'Total Non-DV Year-Round Beds (RRH)', 'Total HMIS Year-Round Beds (RRH)', 'Total Units for Households with Children (RRH)', 'Total Beds for Households with Children (RRH)', 'Total Beds for Households without Children (RRH)', 'Total Beds for Households with only Children (RRH)', 'PIT Count'])['Total Beds'].sum().reset_index().rename(columns={0: 'total_beds', 'CoC': 'CoC', 'Total Year-Round Beds (RRH)': 'Total Year-Round Beds (RRH)', 'Total Non-DV Year-Round Beds (RRH)': 'Total Non-DV Year-Round Beds (RRH)', 'Total HMIS Year-Round Beds (RRH)': 'Total HMIS Year-Round Beds (RRH)', 'Total Units for Households with Children (RRH)': 'Total Units for Households with Children (RRH)', 'Total Beds for Households without Children (RRH)': 'Total Beds for Households without Children (RRH)', 'Total Beds for Households with only Children (RRH)': 'Total Beds for Households with only Children (RRH)', 'PIT Count': 'PIT Count'})

display(RRH_totals_by_county)

,CoC,Total Year-Round Beds (RRH),Total Non-DV Year-Round Beds (RRH),Total HMIS Year-Round Beds (RRH),Total Units for Households with Children (RRH),Total Beds for Households with Children (RRH),Total Beds for Households without Children (RRH),Total Beds for Households with only Children (RRH),PIT Count,Total Beds
0,Albany City & County CoC,283,185,185,46,149,134,0,1,10
1,Albany City & County CoC,283,185,185,46,149,134,0,2,11
2,Albany City & County CoC,283,185,185,46,149,134,0,4,26
3,Albany City & County CoC,283,185,185,46,149,134,0,5,40
4,Albany City & County CoC,283,185,185,46,149,134,0,6,6
...,...,...,...,...,...,...,...,...,...,...
345,"Yonkers, Mount Vernon/Westchester County CoC",228,185,228,59,174,54,0,182,182
346,"Yonkers, Mount Vernon/Westchester County CoC",228,185,228,59,174,54,0,259,300
347,"Yonkers, Mount Vernon/Westchester County CoC",228,185,228,59,174,54,0,647,647
348,"Yonkers, Mount Vernon/Westchester County CoC",228,185,228,59,174,54,0,779,673
349,"Yonkers, Mount Vernon/Westchester County CoC",228,185,228,59,174,54,0,1807,1807

In [530]:
PSH_totals_by_county = hud_num_df.groupby(['CoC', 'Total Year-Round Beds (PSH)', 'Total Non-DV Year-Round Beds (PSH)', 'Total HMIS Year-Round Beds (PSH)', 'Total Units for Households with Children (PSH)', 'Total Beds for Households with Children (PSH)', 'Total Beds for Households without Children (PSH)', 'Total Beds for Households with only Children (PSH)', 'PIT Count'])['Total Beds'].sum().reset_index().rename(columns={0: 'total_beds', 'CoC': 'CoC', 'Total Year-Round Beds (PSH)': 'Total Year-Round Beds (PSH)', 'Total Non-DV Year-Round Beds (PSH)': 'Total Non-DV Year-Round Beds (PSH)', 'Total HMIS Year-Round Beds (PSH)': 'Total HMIS Year-Round Beds (PSH)', 'Total Seasonal Beds (PSH)': 'Total Seasonal Beds (PSH)', 'Total Overflow Beds (PSH)': 'Total Overflow Beds (PSH)', 'Total Units for Households with Children (PSH)': 'Total Units for Households with Children (PSH)', 'Total Beds for Households without Children (PSH)': 'Total Beds for Households without Children (PSH)', 'Total Beds for Households with only Children (PSH)': 'Total Beds for Households with only Children (PSH)', 'PIT Count': 'PIT Count'})

display(PSH_totals_by_county)

,CoC,Total Year-Round Beds (PSH),Total Non-DV Year-Round Beds (PSH),Total HMIS Year-Round Beds (PSH),Total Units for Households with Children (PSH),Total Beds for Households with Children (PSH),Total Beds for Households without Children (PSH),Total Beds for Households with only Children (PSH),PIT Count,Total Beds
0,Albany City & County CoC,822,822,812,115,323,499,0,1,10
1,Albany City & County CoC,822,822,812,115,323,499,0,2,11
2,Albany City & County CoC,822,822,812,115,323,499,0,4,26
3,Albany City & County CoC,822,822,812,115,323,499,0,5,40
4,Albany City & County CoC,822,822,812,115,323,499,0,6,6
...,...,...,...,...,...,...,...,...,...,...
345,"Yonkers, Mount Vernon/Westchester County CoC",1497,1497,1370,224,553,944,0,182,182
346,"Yonkers, Mount Vernon/Westchester County CoC",1497,1497,1370,224,553,944,0,259,300
347,"Yonkers, Mount Vernon/Westchester County CoC",1497,1497,1370,224,553,944,0,647,647
348,"Yonkers, Mount Vernon/Westchester County CoC",1497,1497,1370,224,553,944,0,779,673
349,"Yonkers, Mount Vernon/Westchester County CoC",1497,1497,1370,224,553,944,0,1807,1807

In [531]:
OPH_totals_by_county = hud_num_df.groupby(['CoC', 'Total Year-Round Beds (OPH)', 'Total Non-DV Year-Round Beds (OPH)', 'Total HMIS Year-Round Beds (OPH)', 'Total Units for Households with Children (OPH)', 'Total Beds for Households with Children (OPH)', 'Total Beds for Households without Children (OPH)', 'Total Beds for Households with only Children (OPH)', 'PIT Count'])['Total Beds'].sum().reset_index().rename(columns={0: 'total_beds', 'CoC': 'CoC', 'Total Year-Round Beds (OPH)': 'Total Year-Round Beds (OPH)', 'Total Non-DV Year-Round Beds (OPH)': 'Total Non-DV Year-Round Beds (OPH)', 'Total HMIS Year-Round Beds (OPH)': 'Total HMIS Year-Round Beds (OPH)', 'Total Seasonal Beds (OPH)': 'Total Seasonal Beds (OPH)', 'Total Overflow Beds (OPH)': 'Total Overflow Beds (OPH)', 'Total Units for Households with Children (OPH)': 'Total Units for Households with Children (OPH)', 'Total Beds for Households without Children (OPH)': 'Total Beds for Households without Children (OPH)', 'Total Beds for Households with only Children (OPH)': 'Total Beds for Households with only Children (OPH)', 'PIT Count': 'PIT Count'})

display(OPH_totals_by_county)

,CoC,Total Year-Round Beds (OPH),Total Non-DV Year-Round Beds (OPH),Total HMIS Year-Round Beds (OPH),Total Units for Households with Children (OPH),Total Beds for Households with Children (OPH),Total Beds for Households without Children (OPH),Total Beds for Households with only Children (OPH),PIT Count,Total Beds
0,Albany City & County CoC,25,25,0,2,5,20,0,1,10
1,Albany City & County CoC,25,25,0,2,5,20,0,2,11
2,Albany City & County CoC,25,25,0,2,5,20,0,4,26
3,Albany City & County CoC,25,25,0,2,5,20,0,5,40
4,Albany City & County CoC,25,25,0,2,5,20,0,6,6
...,...,...,...,...,...,...,...,...,...,...
345,"Yonkers, Mount Vernon/Westchester County CoC",3082,3082,2390,772,2628,454,0,182,182
346,"Yonkers, Mount Vernon/Westchester County CoC",3082,3082,2390,772,2628,454,0,259,300
347,"Yonkers, Mount Vernon/Westchester County CoC",3082,3082,2390,772,2628,454,0,647,647
348,"Yonkers, Mount Vernon/Westchester County CoC",3082,3082,2390,772,2628,454,0,779,673
349,"Yonkers, Mount Vernon/Westchester County CoC",3082,3082,2390,772,2628,454,0,1807,1807

In [532]:
HH_totals_by_county = hud_num_df.groupby(['CoC', 'Beds HH w/ Children', 'Units HH w/ Children', 'CH Beds HH w/ Children', 'Beds HH w/o Children', 'CH Beds HH w/o Children', 'Beds HH w/ only Children', 'CH Beds HH w only Children', 'Year-Round Beds', 'Total Seasonal Beds', 'O/V Beds', 'PIT Count'])['Total Beds'].sum().reset_index().rename(columns={0: 'total_beds', 'CoC': 'CoC', 'Beds HH w/ Children': 'Beds HH w/ Children', 'Units HH w/ Children': 'Units HH w/ Children', 'CH Beds HH w/ Children': 'CH Beds HH w/ Children', 'Beds HH w/o Children': 'Beds HH w/o Children', 'CH Beds HH w/o Children': 'CH Beds HH w/o Children', 'Beds HH w/ only Children': 'Beds HH w/ only Children', 'CH Beds HH w only Children': 'CH Beds HH w only Children', 'Year-Round Beds': 'Year-Round Beds', 'Total Seasonal Beds': 'Total Seasonal Beds', 'O/V Beds': 'O/V Beds', 'PIT Count': 'PIT Count'})

display(HH_totals_by_county)

,CoC,Beds HH w/ Children,Units HH w/ Children,CH Beds HH w/ Children,Beds HH w/o Children,CH Beds HH w/o Children,Beds HH w/ only Children,CH Beds HH w only Children,Year-Round Beds,Total Seasonal Beds,O/V Beds,PIT Count,Total Beds
0,Albany City & County CoC,0,0,0,0,0,0,0,0,0,8,1,8
1,Albany City & County CoC,0,0,0,0,0,0,0,0,0,8,8,8
2,Albany City & County CoC,0,0,0,0,0,0,0,0,0,83,83,83
3,Albany City & County CoC,0,0,0,0,0,0,0,0,0,156,156,156
4,Albany City & County CoC,0,0,0,0,0,0,0,0,15,0,12,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
637,"Yonkers, Mount Vernon/Westchester County CoC",210,70,0,0,0,0,0,210,0,0,110,210
638,"Yonkers, Mount Vernon/Westchester County CoC",300,100,0,0,0,0,0,300,0,0,259,300
639,"Yonkers, Mount Vernon/Westchester County CoC",305,116,0,368,0,0,0,673,0,0,779,673
640,"Yonkers, Mount Vernon/Westchester County CoC",647,238,0,0,0,0,0,647,0,0,647,647
641,"Yonkers, Mount Vernon/Westchester County CoC",1480,370,0,327,0,0,0,1807,0,0,1807,1807

In [533]:
display(totals_by_county.sample(10))

,CoC,"Total Year-Round Beds (ES, TH, SH)",Total Year-Round Beds (ES),Total Year-Round Beds (TH),Total Year-Round Beds (SH),Total Year-Round Beds (RRH),Total Year-Round Beds (PSH),Total Year-Round Beds (OPH),PIT Count,Total Beds
332,"Yonkers, Mount Vernon/Westchester County CoC",1634,1112,522,0,228,1497,3082,43,43
100,"Nassau, Suffolk Counties CoC",3545,3424,101,20,702,2428,1323,15,93
266,"Syracuse, Auburn/Onondaga, Oswego, Cayuga Coun...",740,580,160,0,441,946,538,12,39
14,Albany City & County CoC,473,314,157,2,283,822,25,20,40
260,"Syracuse, Auburn/Onondaga, Oswego, Cayuga Coun...",740,580,160,0,441,946,538,4,33
132,"Nassau, Suffolk Counties CoC",3545,3424,101,20,702,2428,1323,99,110
282,"Syracuse, Auburn/Onondaga, Oswego, Cayuga Coun...",740,580,160,0,441,946,538,29,61
256,"Syracuse, Auburn/Onondaga, Oswego, Cayuga Coun...",740,580,160,0,441,946,538,0,15
80,"Buffalo, Niagara Falls/Erie, Niagara, Orleans,...",1546,1102,444,0,410,1263,70,118,109
225,"Rochester, Irondequoit, Greece/Monroe County CoC",835,662,161,12,453,1394,226,50,41

In [534]:
totals_by_county['total_beds'] = totals_by_county['Total Year-Round Beds (ES)'] + totals_by_county['Total Year-Round Beds (TH)'] + totals_by_county['Total Year-Round Beds (SH)'] + totals_by_county['Total Year-Round Beds (RRH)'] + totals_by_county['Total Year-Round Beds (PSH)'] + totals_by_county['Total Year-Round Beds (OPH)']

In [545]:
totals_by_county_scatter = px.bar(totals_by_county,
                            x='CoC',
                            y='total_beds',
                            labels={
                                    'CoC': 'Continuum of Care by County',
                                    'total_beds': 'Total Beds Available',
                                    },                              
                            title='Not yet',
                        )
totals_by_county_scatter.update_yaxes(dtick=1000)
totals_by_county_scatter.update_yaxes(tick0=1800)
totals_by_county_scatter.update_layout_images(sizex=20)
totals_by_county_scatter.update_layout_images(sizey=20)
totals_by_county_scatter.show()

In [536]:
'''
coc_number                                                 
Total Year-Round Beds (ES, TH, SH)                         
Total Non-DV Year-Round Beds (ES, TH, SH)                  
Total HMIS Year-Round Beds (ES, TH, SH)                    
Total Year-Round Beds (ES)                                 
Total Year-Round Beds (TH)                                 
Total Year-Round Beds (SH)                                 
Total Units for Households with Children (ES, TH, SH)      
Total Beds for Households with Children (ES, TH, SH)       
Total Beds for Households without Children (ES, TH, SH)    
Total Beds for Households with only Children (ES, TH, SH)  

Total Non-DV Year-Round Beds (ES)                          
Total HMIS Year-Round Beds (ES)                            
Total Seasonal Beds (ES)                                   
Total Overflow Beds (ES)                                   
Total Units for Households with Children (ES)              
Total Beds for Households with Children (ES)               
Total Beds for Households without Children (ES)            
Total Beds for Households with only Children (ES)    

Total Non-DV Year-Round Beds (TH)                          
Total HMIS Year-Round Beds (TH)                            
Total Units for Households with Children (TH)              
Total Beds for Households with Children (TH)               
Total Beds for Households without Children (TH)            
Total Beds for Households with only Children (TH)      

Total Non-DV Year-Round Beds (SH)                          
Total HMIS Year-Round Beds (SH)                            
Total Units for Households with Children (SH)              
Total Beds for Households with Children (SH)               
Total Beds for Households without Children (SH)            
Total Beds for Households with only Children (SH)     

Total Year-Round Beds (RRH)                                
Total Non-DV Year-Round Beds (RRH)                         
Total HMIS Year-Round Beds (RRH)                           
Total Units for Households with Children (RRH)             
Total Beds for Households with Children (RRH)              
Total Beds for Households without Children (RRH)           
Total Beds for Households with only Children (RRH)      

Total Year-Round Beds (PSH)                                
Total Non-DV Year-Round Beds (PSH)                         
Total HMIS Year-Round Beds (PSH)                           
Total Units for Households with Children (PSH)             
Total Beds for Households with Children (PSH)              
Total Beds for Households without Children (PSH)           
Total Beds for Households with only Children (PSH)         
Dedicated Chronically Homeless Beds (PSH)        

Total Year-Round Beds (OPH)                                
Total Non-DV Year-Round Beds (OPH)                         
Total HMIS Year-Round Beds (OPH)                           
Total Units for Households with Children (OPH)             
Total Beds for Households with Children (OPH)              
Total Beds for Households without Children (OPH)           
Total Beds for Households with only Children (OPH)      

CoC                                                        
Coc_ID                                                     
Organization ID                                            
Organization Name                                          
Project Name                                               
Project Type                                              
housingType                                                
address1                                                   
address2                                                   
city                                                       
state                                                      
zip             
                                           
Beds HH w/ Children                                        
Units HH w/ Children                                       
CH Beds HH w/ Children                                     
Beds HH w/o Children                                       
CH Beds HH w/o Children                                    
Beds HH w/ only Children                                   
CH Beds HH w only Children                                 
Year-Round Beds                                            
Total Seasonal Beds                                        
O/V Beds                                                   
PIT Count                                                  
Total Beds

'''

'\ncoc_number                                                 \nTotal Year-Round Beds (ES, TH, SH)                         \nTotal Non-DV Year-Round Beds (ES, TH, SH)                  \nTotal HMIS Year-Round Beds (ES, TH, SH)                    \nTotal Year-Round Beds (ES)                                 \nTotal Year-Round Beds (TH)                                 \nTotal Year-Round Beds (SH)                                 \nTotal Units for Households with Children (ES, TH, SH)      \nTotal Beds for Households with Children (ES, TH, SH)       \nTotal Beds for Households without Children (ES, TH, SH)    \nTotal Beds for Households with only Children (ES, TH, SH)  \n\nTotal Non-DV Year-Round Beds (ES)                          \nTotal HMIS Year-Round Beds (ES)                            \nTotal Seasonal Beds (ES)                                   \nTotal Overflow Beds (ES)                                   \nTotal Units for Households with Children (ES)              \nTotal Beds for Households with Children (ES)               \nTotal Beds for Households without Children (ES)            \nTotal Beds for Households with only Children (ES)    \n\nTotal Non-DV Year-Round Beds (TH)                          \nTotal HMIS Year-Round Beds (TH)                            \nTotal Units for Households with Children (TH)              \nTotal Beds for Households with Children (TH)               \nTotal Beds for Households without Children (TH)            \nTotal Beds for Households with only Children (TH)      \n\nTotal Non-DV Year-Round Beds (SH)                          \nTotal HMIS Year-Round Beds (SH)                            \nTotal Units for Households with Children (SH)              \nTotal Beds for Households with Children (SH)               \nTotal Beds for Households without Children (SH)            \nTotal Beds for Households with only Children (SH)     \n\nTotal Year-Round Beds (RRH)                                \nTotal Non-DV Year-Round Beds (RRH)                         \nTotal HMIS Year-Round Beds (RRH)                           \nTotal Units for Households with Children (RRH)             \nTotal Beds for Households with Children (RRH)              \nTotal Beds for Households without Children (RRH)           \nTotal Beds for Households with only Children (RRH)      \n\nTotal Year-Round Beds (PSH)                                \nTotal Non-DV Year-Round Beds (PSH)                         \nTotal HMIS Year-Round Beds (PSH)                           \nTotal Units for Households with Children (PSH)             \nTotal Beds for Households with Children (PSH)              \nTotal Beds for Households without Children (PSH)           \nTotal Beds for Households with only Children (PSH)         \nDedicated Chronically Homeless Beds (PSH)        \n\nTotal Year-Round Beds (OPH)                                \nTotal Non-DV Year-Round Beds (OPH)                         \nTotal HMIS Year-Round Beds (OPH)                           \nTotal Units for Households with Children (OPH)             \nTotal Beds for Households with Children (OPH)              \nTotal Beds for Households without Children (OPH)           \nTotal Beds for Households with only Children (OPH)      \n\nCoC                                                        \nCoc_ID                                                     \nOrganization ID                                            \nOrganization Name                                          \nProject Name                                               \nProject Type                                              \nhousingType                                                \naddress1                                                   \naddress2                                                   \ncity                                                       \nstate                                                      \nzip             \n                                           \nBeds HH w/ Children                                        \nUnits HH w/ Children                                       \nCH Beds HH w/ Children                                     \nBeds HH w/o Children                                       \nCH Beds HH w/o Children                                    \nBeds HH w/ only Children                                   \nCH Beds HH w only Children                                 \nYear-Round Beds                                            \nTotal Seasonal Beds                                        \nO/V Beds                                                   \nPIT Count                                                  \nTotal Beds\n\n'

In [537]:
#print(hud_num_df.columns.isna())
#print(hud_num_df.query("coc_number == 'NY-522' and availability_start_date.notna()"))
#print(hud_num_df['coc_number'].value_counts())
#print(hud_num_df['availability_start_date'].notna().count())
#print(hud_num_df['availability_end_date'].notna().count())
#print(hud_num_df.query("CoC.str.contains('Suffolk') or CoC.str.contains('Nassau') or CoC.str.contains('Westchester') or CoC.str.contains('New York City') or CoC.str.contains('Erie') or CoC.str.contains('Monroe') or CoC.str.contains('Onondaga') or CoC.str.contains('Orange') or CoC.str.contains('Rockland') or CoC.str.contains('Albany') or CoC.str.contains('Dutchess')"))