In [259]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from scipy import stats as st
from math import factorial as ft 
import plotly.express as px
plt.style.use('ggplot')

In [260]:
county_data = pd.read_csv('/Users/admin/Desktop/GitHub/new_repos/housing-data-study/NewYork_DemographicsByCounty_sample.xlsx - 2022AmericanCommunitySurvey.csv', encoding = "utf-8")
HIC_COC_data = pd.read_csv('/Users/admin/Desktop/GitHub/new_repos/housing-data-study/2007-2023-HIC-Counts-by-CoC.xlsx - 2023.csv', encoding = "utf-8")
HIC_state_data = pd.read_csv('/Users/admin/Desktop/GitHub/new_repos/housing-data-study/2023-HIC-Counts-by-State.csv', encoding = "utf-8")

In [261]:
display(county_data.head(10))

           Unnamed: 0  Most Current Population Year  Population
0            New York                          2022  19,994,379
1       Albany County                          2022     315,041
2     Allegany County                          2022      47,222
3        Bronx County                          2022   1,443,229
4       Broome County                          2022     198,365
5  Cattaraugus County                          2022      77,000
6       Cayuga County                          2022      76,171
7   Chautauqua County                          2022     127,440
8      Chemung County                          2022      83,584
9     Chenango County                          2022      47,096

In [262]:
county_data = county_data.rename(columns={'Unnamed: 0': 'county_name', 'Population': 'population'})

In [263]:
display(county_data.head(10))
county_data['population'] = county_data['population'].apply(lambda x: str(x).replace(',', ''))

county_data['population'] = county_data['population'].astype(int)

          county_name  Most Current Population Year  population
0            New York                          2022  19,994,379
1       Albany County                          2022     315,041
2     Allegany County                          2022      47,222
3        Bronx County                          2022   1,443,229
4       Broome County                          2022     198,365
5  Cattaraugus County                          2022      77,000
6       Cayuga County                          2022      76,171
7   Chautauqua County                          2022     127,440
8      Chemung County                          2022      83,584
9     Chenango County                          2022      47,096

In [264]:
top_counties = county_data.groupby('county_name')['population'].sum().reset_index().rename(columns={0: 'population', 'county_name': 'county_name'}).sort_values(by='population', ascending=False)
#display(top_counties)
#top_counties.info()
top_fifteen_counties = top_counties.head(16)
display(top_fifteen_counties)

           county_name  population
30            New York    19994379
23        Kings County     2679620
41       Queens County     2360826
31     New York County     1645867
52      Suffolk County     1524486
2         Bronx County     1443229
29       Nassau County     1389160
60  Westchester County      997904
14         Erie County      951232
27       Monroe County      756406
43     Richmond County      492925
34     Onondaga County      472637
36       Orange County      401237
44     Rockland County      337326
0        Albany County      315041
13     Dutchess County      296467

In [265]:
#display(HIC_COC_data).sample(10)

In [266]:
#HIC_COC_data.info()

In [267]:
HIC_COC_data = HIC_COC_data.rename(columns={'CoC Number': 'coc_number'})

In [268]:
NY_COC_HIC = []
NY_COC_HIC = HIC_COC_data.query("coc_number.str.contains('NY')").reset_index()

In [269]:
display(NY_COC_HIC.sample(10))

,index,coc_number,"Total Year-Round Beds (ES, TH, SH)","Total Non-DV Year-Round Beds (ES, TH, SH)","Total HMIS Year-Round Beds (ES, TH, SH)","HMIS Participation Rate for Year-Round Beds (ES, TH, SH)",Total Year-Round Beds (ES),Total Year-Round Beds (TH),Total Year-Round Beds (SH),"Total Units for Households with Children (ES, TH, SH)",...,Total Year-Round Beds (OPH),Total Non-DV Year-Round Beds (OPH),Total HMIS Year-Round Beds (OPH),HMIS Participation Rate for Year-Round Beds (OPH),Total Units for Households with Children (OPH),Total Beds for Households with Children (OPH),Total Beds for Households without Children (OPH),Total Beds for Households with only Children (OPH),Dedicated Veteran Beds (OPH),Dedicated Youth Beds (OPH)
15,269,NY-523,120,102,102,85.00%,88,32,0,11,...,35,35,0,0.00%,5,15,20,0,0,0
16,270,NY-525,122,54,54,44.26%,117,5,0,25,...,141,141,141,100.00%,34,83,58,0,0,0
19,273,NY-602,264,242,242,91.67%,217,47,0,43,...,66,66,66,100.00%,15,60,6,0,0,0
10,264,NY-514,167,149,149,89.22%,140,27,0,24,...,0,0,0,NaN,0,0,0,0,0,0
4,258,NY-507,243,223,81,33.33%,173,70,0,26,...,19,19,9,47.37%,3,9,10,0,0,0
13,267,NY-520,17,12,0,0.00%,17,0,0,2,...,2,2,0,0.00%,1,2,0,0,0,0
18,272,NY-601,752,700,691,91.89%,588,164,0,111,...,21,21,0,0.00%,0,0,21,0,0,0
3,257,NY-505,740,689,689,93.11%,580,160,0,66,...,538,532,353,65.61%,109,304,234,0,5,0
22,276,NY-606,73,63,63,86.30%,43,30,0,13,...,170,170,0,0.00%,43,85,85,0,0,0
14,268,NY-522,37,11,11,29.73%,26,11,0,4,...,0,0,0,NaN,0,0,0,0,0,0

In [270]:
#display(HIC_state_data.sample(10))
print(NY_COC_HIC.query("coc_number == 'NY-600'").count())

index                                                 1
coc_number                                            1
Total Year-Round Beds (ES, TH, SH)                    1
Total Non-DV Year-Round Beds (ES, TH, SH)             1
Total HMIS Year-Round Beds (ES, TH, SH)               1
                                                     ..
Total Beds for Households with Children (OPH)         1
Total Beds for Households without Children (OPH)      1
Total Beds for Households with only Children (OPH)    1
Dedicated Veteran Beds (OPH)                          1
Dedicated Youth Beds (OPH)                            1
Length: 78, dtype: int64

In [271]:
#HIC_state_data.info()

In [272]:
NY_state_HIC = []

NY_state_HIC = HIC_state_data.query("CocState.str.contains('NY')").reset_index()

In [273]:
NY_state_HIC.sample(10)

,index,Row #,CocState,CoC,Coc_ID,HudNum,Status,year,Organization ID,Organization Name,...,Total Beds,Updated On,mergedDefunctYear,questionUsesDescriptorElements,questionDesiresToUseDescriptorElements,notes,projectNotes,sandyRelated,sandyRelatedNote,HOPWAMedAssistedLivingFac
1326,21002,675158,NY,New York City CoC,1037,NY-600,Complete,2023,2322,Department of Homeless Services (NYC DHS),...,130,4/24/2023 20:06,NaN,1,NaN,NaN,NaN,0,NaN,NaN
2161,21837,635145,NY,"Rochester, Irondequoit, Greece/Monroe County CoC",1415,NY-500,Complete,2023,23349,Rochester Housing Authority,...,116,4/14/2023 14:21,NaN,1,NaN,NaN,NaN,0,NaN,2.0
243,19919,606786,NY,"Binghamton, Union Town/Broome, Otsego, Chenang...",1123,NY-511,Complete,2023,42563,Chenango County DSS,...,17,4/19/2023 13:34,NaN,0,0.0,No client entered or reported in Motels,NaN,0,NaN,NaN
744,20420,610560,NY,New York Balance of State Continuum of Care,1506,NY-525,Complete,2023,42665,Veteran's Administration - Syracuse,...,4,6/20/2023 21:00,NaN,0,1.0,NaN,NaN,0,NaN,NaN
474,20150,612151,NY,"Jefferson, Lewis, St. Lawrence Counties CoC",1435,NY-522,Complete,2023,11725,Neighbors of Watertown,...,16,6/22/2023 15:35,NaN,1,NaN,2023: No changes in inventory or utilization ...,NaN,0,NaN,NaN
891,20567,676264,NY,New York City CoC,1037,NY-600,Complete,2023,8135,Catholic Charities Neighborhood Services,...,60,4/24/2023 20:07,NaN,1,NaN,NaN,NaN,0,NaN,NaN
736,20412,622197,NY,New York Balance of State Continuum of Care,1506,NY-525,Complete,2023,10439,Schoharie County Department of Social Services,...,10,4/5/2023 12:15,NaN,0,1.0,NaN,NaN,0,NaN,NaN
1653,21329,676350,NY,New York City CoC,1037,NY-600,Complete,2023,9425,Odyssey House,...,40,6/27/2023 19:08,NaN,1,NaN,NaN,NaN,0,NaN,NaN
2191,21867,635195,NY,"Rochester, Irondequoit, Greece/Monroe County CoC",1415,NY-500,Complete,2023,10260,Volunteers of America of Western NY,...,41,4/14/2023 14:21,NaN,1,NaN,NaN,NaN,0,NaN,2.0
1225,20901,675181,NY,New York City CoC,1037,NY-600,Complete,2023,2322,Department of Homeless Services (NYC DHS),...,124,4/24/2023 20:06,NaN,1,NaN,NaN,NaN,0,NaN,NaN

In [274]:
NY_state_columns = ['CocState', 'CoC', 'Coc_ID', 'HudNum', 'Organization ID', 'Organization Name', 'Project Name', 'Project Type', 'Bed Type', 'beginsOperationsWithinYear', 'housingType', 'address1', 'address2', 'city', 'state', 'zip', 'Beds HH w/ Children', 'Units HH w/ Children', 'Veteran Beds HH w/ Children', 'Youth Beds HH w/ Children', 'CH Beds HH w/ Children', 'Beds HH w/o Children', 'Veteran Beds HH w/o Children', 'Youth Beds HH w/o Children', 'CH Beds HH w/o Children', 'Beds HH w/ only Children', 'CH Beds HH w only Children', 'Year-Round Beds', 'DV Beds', 'Total Seasonal Beds', 'O/V Beds', 'PIT Count', 'Total Beds']

In [275]:
NY_state_HIC = NY_state_HIC[NY_state_columns]

In [276]:
NY_state_HIC.sample(10)

,CocState,CoC,Coc_ID,HudNum,Organization ID,Organization Name,Project Name,Project Type,Bed Type,beginsOperationsWithinYear,...,Youth Beds HH w/o Children,CH Beds HH w/o Children,Beds HH w/ only Children,CH Beds HH w only Children,Year-Round Beds,DV Beds,Total Seasonal Beds,O/V Beds,PIT Count,Total Beds
2089,NY,"Newburgh, Middletown/Orange County CoC",974,NY-602,23873,St Pauls Church,Middletown Warming Station,ES,O,NaN,...,NaN,NaN,NaN,NaN,0,NaN,30.0,NaN,31.0,30
2167,NY,"Rochester, Irondequoit, Greece/Monroe County CoC",1415,NY-500,6074,Salvation Army,Salvation Army - Hope House VAGPD Transitional,TH,NaN,NaN,...,0.0,NaN,0.0,NaN,2,NaN,NaN,NaN,1.0,2
1113,NY,New York City CoC,1037,NY-600,2322,Department of Homeless Services (NYC DHS),Creston Men`s Center,ES,F,NaN,...,0.0,NaN,0.0,NaN,69,NaN,0.0,0.0,69.0,69
681,NY,"Nassau, Suffolk Counties CoC",1019,NY-603,7206,United Veterans Beacon House,GPD- Bridge Housing Component,TH,NaN,NaN,...,0.0,NaN,NaN,NaN,5,NaN,NaN,NaN,2.0,5
1644,NY,New York City CoC,1037,NY-600,9425,Odyssey House,Haven - DHS,PSH,NaN,NaN,...,0.0,20.0,0.0,0.0,20,NaN,NaN,NaN,19.0,20
989,NY,New York City CoC,1037,NY-600,2037,Covenant House,Family Covenant,PSH,NaN,NaN,...,7.0,0.0,0.0,0.0,76,NaN,NaN,NaN,76.0,76
1892,NY,New York City CoC,1037,NY-600,3673,The Jericho Project,Jericho Project Rapid Re-housing Program,RRH,NaN,NaN,...,0.0,NaN,0.0,NaN,155,NaN,NaN,NaN,155.0,155
1121,NY,New York City CoC,1037,NY-600,2322,Department of Homeless Services (NYC DHS),CRYSTAL`S PLACE,ES,F,NaN,...,0.0,NaN,0.0,NaN,250,NaN,0.0,0.0,250.0,250
2208,NY,Rockland County CoC,1042,NY-606,9031,Loeb House Inc.,Homes for Heroes,PSH,NaN,NaN,...,0.0,0.0,0.0,0.0,8,NaN,NaN,NaN,8.0,8
1473,NY,New York City CoC,1037,NY-600,13943,Harlem United Community AIDS Center Inc.,Foundation House West,PSH,NaN,NaN,...,0.0,25.0,0.0,0.0,25,NaN,NaN,NaN,22.0,25

In [277]:
print(NY_state_HIC.query("HudNum == 'NY-600'").count())

CocState                        1318
CoC                             1318
Coc_ID                          1318
HudNum                          1318
Organization ID                 1318
Organization Name               1318
Project Name                    1318
Project Type                    1318
Bed Type                         528
beginsOperationsWithinYear         0
housingType                     1318
address1                        1263
address2                           0
city                            1317
state                           1318
zip                             1263
Beds HH w/ Children             1315
Units HH w/ Children            1315
Veteran Beds HH w/ Children     1315
Youth Beds HH w/ Children       1315
CH Beds HH w/ Children           703
Beds HH w/o Children            1317
Veteran Beds HH w/o Children    1318
Youth Beds HH w/o Children      1318
CH Beds HH w/o Children          705
Beds HH w/ only Children        1315
CH Beds HH w only Children       702
Year-Round Beds                 1318
DV Beds                           73
Total Seasonal Beds              528
O/V Beds                         528
PIT Count                       1318
Total Beds                      1318
dtype: int64

In [278]:
hud_num_df = NY_COC_HIC.merge(NY_state_HIC, left_on='coc_number', right_on='HudNum')

In [279]:
display(hud_num_df.head(10))

,index,coc_number,"Total Year-Round Beds (ES, TH, SH)","Total Non-DV Year-Round Beds (ES, TH, SH)","Total HMIS Year-Round Beds (ES, TH, SH)","HMIS Participation Rate for Year-Round Beds (ES, TH, SH)",Total Year-Round Beds (ES),Total Year-Round Beds (TH),Total Year-Round Beds (SH),"Total Units for Households with Children (ES, TH, SH)",...,Youth Beds HH w/o Children,CH Beds HH w/o Children,Beds HH w/ only Children,CH Beds HH w only Children,Year-Round Beds,DV Beds,Total Seasonal Beds,O/V Beds,PIT Count,Total Beds
0,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,0.0,NaN,15,NaN,NaN,NaN,15.0,15
1,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,0.0,NaN,10,NaN,0.0,0.0,10.0,10
2,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,0.0,NaN,25,NaN,0.0,12.0,37.0,37
3,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,0.0,NaN,15,NaN,0.0,0.0,4.0,15
4,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,0.0,NaN,9,NaN,NaN,NaN,8.0,9
5,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,0.0,0.0,0.0,59,NaN,NaN,NaN,57.0,59
6,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,0.0,NaN,47,NaN,0.0,6.0,53.0,53
7,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,0.0,NaN,10,NaN,0.0,0.0,6.0,10
8,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,0.0,NaN,405,NaN,NaN,NaN,NaN,405
9,254,NY-500,835,786,776,92.93%,662,161,12,91,...,0.0,NaN,0.0,NaN,14,NaN,0.0,0.0,14.0,14

In [280]:
hud_num_df.drop(['index'], axis=1, inplace=True)

In [281]:
display(hud_num_df.sample(10))

,coc_number,"Total Year-Round Beds (ES, TH, SH)","Total Non-DV Year-Round Beds (ES, TH, SH)","Total HMIS Year-Round Beds (ES, TH, SH)","HMIS Participation Rate for Year-Round Beds (ES, TH, SH)",Total Year-Round Beds (ES),Total Year-Round Beds (TH),Total Year-Round Beds (SH),"Total Units for Households with Children (ES, TH, SH)","Total Beds for Households with Children (ES, TH, SH)",...,Youth Beds HH w/o Children,CH Beds HH w/o Children,Beds HH w/ only Children,CH Beds HH w only Children,Year-Round Beds,DV Beds,Total Seasonal Beds,O/V Beds,PIT Count,Total Beds
166,NY-503,473,443,210,44.40%,314,157,2,56,140,...,0.0,NaN,0.0,NaN,10,NaN,NaN,NaN,7.0,10
1179,NY-600,91411,87538,79772,87.27%,87955,3416,40,15920,51402,...,0.0,NaN,0.0,NaN,34,NaN,0.0,0.0,34.0,34
10,NY-500,835,786,776,92.93%,662,161,12,91,309,...,0.0,NaN,0.0,NaN,123,NaN,NaN,NaN,123.0,123
2242,NY-603,3545,3442,3442,97.09%,3424,101,20,610,2173,...,0.0,13.0,NaN,NaN,13,NaN,NaN,NaN,11.0,13
1237,NY-600,91411,87538,79772,87.27%,87955,3416,40,15920,51402,...,0.0,NaN,0.0,NaN,139,NaN,0.0,0.0,128.0,139
1493,NY-600,91411,87538,79772,87.27%,87955,3416,40,15920,51402,...,0.0,0.0,0.0,0.0,35,NaN,NaN,NaN,35.0,35
350,NY-508,1546,1408,1351,87.39%,1102,444,0,172,589,...,0.0,NaN,NaN,NaN,2,NaN,NaN,NaN,2.0,2
1818,NY-600,91411,87538,79772,87.27%,87955,3416,40,15920,51402,...,0.0,0.0,0.0,0.0,19,NaN,NaN,NaN,19.0,19
1467,NY-600,91411,87538,79772,87.27%,87955,3416,40,15920,51402,...,0.0,29.0,0.0,0.0,29,NaN,NaN,NaN,28.0,29
1441,NY-600,91411,87538,79772,87.27%,87955,3416,40,15920,51402,...,0.0,NaN,0.0,NaN,2,NaN,0.0,0.0,2.0,2

In [282]:
hud_num_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2467 entries, 0 to 2466
Columns: 110 entries, coc_number to Total Beds
dtypes: float64(17), int64(73), object(20)
memory usage: 2.1+ MB

In [283]:
hud_num_df.to_csv('hud_numbers', index=False)

In [284]:
hud_num_columns = ['coc_number', 'Total Year-Round Beds (ES, TH, SH)', 'Total Non-DV Year-Round Beds (ES, TH, SH)', 'Total HMIS Year-Round Beds (ES, TH, SH)', 'Total Year-Round Beds (ES)', 'Total Year-Round Beds (TH)', 'Total Year-Round Beds (SH)', 'Total Units for Households with Children (ES, TH, SH)', 'Total Beds for Households with Children (ES, TH, SH)', 'Total Beds for Households without Children (ES, TH, SH)', 'Total Beds for Households with only Children (ES, TH, SH)', 'Total Non-DV Year-Round Beds (ES)', 'Total HMIS Year-Round Beds (ES)', 'Total Seasonal Beds (ES)', 'Total Overflow Beds (ES)', 'Total Units for Households with Children (ES)', 'Total Beds for Households with Children (ES)', 'Total Beds for Households without Children (ES)', 'Total Beds for Households with only Children (ES)', 'Total Non-DV Year-Round Beds (TH)', 'Total HMIS Year-Round Beds (TH)', 'Total Units for Households with Children (TH)', 'Total Beds for Households with Children (TH)', 'Total Beds for Households without Children (TH)', 'Total Beds for Households with only Children (TH)', 'Total Non-DV Year-Round Beds (SH)', 'Total HMIS Year-Round Beds (SH)', 'Total Units for Households with Children (SH)', 'Total Beds for Households with Children (SH)', 'Total Beds for Households without Children (SH)', 'Total Beds for Households with only Children (SH)', 'Total Year-Round Beds (RRH)', 'Total Non-DV Year-Round Beds (RRH)', 'Total HMIS Year-Round Beds (RRH)', 'Total Units for Households with Children (RRH)', 'Total Beds for Households with Children (RRH)', 'Total Beds for Households without Children (RRH)', 'Total Beds for Households with only Children (RRH)', 'Total Year-Round Beds (PSH)', 'Total Non-DV Year-Round Beds (PSH)', 'Total HMIS Year-Round Beds (PSH)', 'Total Units for Households with Children (PSH)', 'Total Beds for Households with Children (PSH)', 'Total Beds for Households without Children (PSH)', 'Total Beds for Households with only Children (PSH)', 'Dedicated Chronically Homeless Beds (PSH)', 'Total Year-Round Beds (OPH)', 'Total Non-DV Year-Round Beds (OPH)', 'Total HMIS Year-Round Beds (OPH)', 'Total Units for Households with Children (OPH)', 'Total Beds for Households with Children (OPH)', 'Total Beds for Households without Children (OPH)', 'Total Beds for Households with only Children (OPH)', 'CoC', 'Coc_ID', 'Organization ID', 'Organization Name', 'Project Name', 'Project Type', 'Bed Type', 'beginsOperationsWithinYear', 'housingType', 'address1', 'address2', 'city', 'state', 'zip', 'Beds HH w/ Children', 'Units HH w/ Children', 'CH Beds HH w/ Children', 'Beds HH w/o Children', 'CH Beds HH w/o Children', 'Beds HH w/ only Children', 'CH Beds HH w only Children', 'Year-Round Beds', 'DV Beds', 'Total Seasonal Beds', 'O/V Beds', 'PIT Count', 'Total Beds']

In [285]:
hud_num_df = hud_num_df[hud_num_columns]

In [286]:
hud_num_df = hud_num_df.query("CoC.str.contains('Suffolk') or CoC.str.contains('Nassau') or CoC.str.contains('Westchester') or CoC.str.contains('New York City') or CoC.str.contains('Erie') or CoC.str.contains('Monroe') or CoC.str.contains('Onondaga') or CoC.str.contains('Orange') or CoC.str.contains('Rockland') or CoC.str.contains('Albany') or CoC.str.contains('Dutchess')").reset_index()

In [287]:
hud_num_df.drop(['index'], axis=1, inplace=True)

In [288]:
hud_num_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2019 entries, 0 to 2018
Data columns (total 80 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   coc_number                                                 2019 non-null   object
 1   Total Year-Round Beds (ES, TH, SH)                         2019 non-null   int64
 2   Total Non-DV Year-Round Beds (ES, TH, SH)                  2019 non-null   int64
 3   Total HMIS Year-Round Beds (ES, TH, SH)                    2019 non-null   int64
 4   Total Year-Round Beds (ES)                                 2019 non-null   int64
 5   Total Year-Round Beds (TH)                                 2019 non-null   int64
 6   Total Year-Round Beds (SH)                                 2019 non-null   int64
 7   Total Units for Households with Children (ES, TH, SH)      2019 non-null   int64
 8   Total Beds for Households with Children (ES, TH, SH)       2019 non-null   int64
 9   Total Beds for Households without Children (ES, TH, SH)    2019 non-null   int64
 10  Total Beds for Households with only Children (ES, TH, SH)  2019 non-null   int64
 11  Total Non-DV Year-Round Beds (ES)                          2019 non-null   int64
 12  Total HMIS Year-Round Beds (ES)                            2019 non-null   int64
 13  Total Seasonal Beds (ES)                                   2019 non-null   int64
 14  Total Overflow Beds (ES)                                   2019 non-null   int64
 15  Total Units for Households with Children (ES)              2019 non-null   int64
 16  Total Beds for Households with Children (ES)               2019 non-null   int64
 17  Total Beds for Households without Children (ES)            2019 non-null   int64
 18  Total Beds for Households with only Children (ES)          2019 non-null   int64
 19  Total Non-DV Year-Round Beds (TH)                          2019 non-null   int64
 20  Total HMIS Year-Round Beds (TH)                            2019 non-null   int64
 21  Total Units for Households with Children (TH)              2019 non-null   int64
 22  Total Beds for Households with Children (TH)               2019 non-null   int64
 23  Total Beds for Households without Children (TH)            2019 non-null   int64
 24  Total Beds for Households with only Children (TH)          2019 non-null   int64
 25  Total Non-DV Year-Round Beds (SH)                          2019 non-null   int64
 26  Total HMIS Year-Round Beds (SH)                            2019 non-null   int64
 27  Total Units for Households with Children (SH)              2019 non-null   int64
 28  Total Beds for Households with Children (SH)               2019 non-null   int64
 29  Total Beds for Households without Children (SH)            2019 non-null   int64
 30  Total Beds for Households with only Children (SH)          2019 non-null   int64
 31  Total Year-Round Beds (RRH)                                2019 non-null   int64
 32  Total Non-DV Year-Round Beds (RRH)                         2019 non-null   int64
 33  Total HMIS Year-Round Beds (RRH)                           2019 non-null   int64
 34  Total Units for Households with Children (RRH)             2019 non-null   int64
 35  Total Beds for Households with Children (RRH)              2019 non-null   int64
 36  Total Beds for Households without Children (RRH)           2019 non-null   int64
 37  Total Beds for Households with only Children (RRH)         2019 non-null   int64
 38  Total Year-Round Beds (PSH)                                2019 non-null   int64
 39  Total Non-DV Year-Round Beds (PSH)                         2019 non-null   int64
 40  Total HMIS Year-Round Beds (PSH)                           2019 non-null   int64
 41  Total Units for Households with Children (PSH)             2019 non-null   int64
 42  Total Beds for Households with Children (PSH)              2019 non-null   int64
 43  Total Beds for Households without Children (PSH)           2019 non-null   int64
 44  Total Beds for Households with only Children (PSH)         2019 non-null   int64
 45  Dedicated Chronically Homeless Beds (PSH)                  2019 non-null   int64
 46  Total Year-Round Beds (OPH)                                2019 non-null   int64
 47  Total Non-DV Year-Round Beds (OPH)                         2019 non-null   int64
 48  Total HMIS Year-Round Beds (OPH)                           2019 non-null   int64
 49  Total Units for Households with Children (OPH)             2019 non-null   int64
 50  Total Beds for Households with Children (OPH)              2019 non-null   int64
 51  Total Beds for Households without Children (OPH)           2019 non-null   int64
 52  Total Beds for Households with only Children (OPH)         2019 non-null   int64
 53  CoC                                                        2019 non-null   object
 54  Coc_ID                                                     2019 non-null   int64
 55  Organization ID                                            2019 non-null   int64
 56  Organization Name                                          2019 non-null   object
 57  Project Name                                               2019 non-null   object
 58  Project Type                                               2019 non-null   object
 59  Bed Type                                                   773 non-null    object
 60  beginsOperationsWithinYear                                 8 non-null      float64
 61  housingType                                                2019 non-null   object
 62  address1                                                   1892 non-null   object
 63  address2                                                   13 non-null     object
 64  city                                                       1951 non-null   object
 65  state                                                      1954 non-null   object
 66  zip                                                        1945 non-null   float64
 67  Beds HH w/ Children                                        1872 non-null   float64
 68  Units HH w/ Children                                       1870 non-null   float64
 69  CH Beds HH w/ Children                                     894 non-null    float64
 70  Beds HH w/o Children                                       1967 non-null   float64
 71  CH Beds HH w/o Children                                    942 non-null    float64
 72  Beds HH w/ only Children                                   1660 non-null   float64
 73  CH Beds HH w only Children                                 798 non-null    float64
 74  Year-Round Beds                                            2019 non-null   int64
 75  DV Beds                                                    116 non-null    float64
 76  Total Seasonal Beds                                        621 non-null    float64
 77  O/V Beds                                                   617 non-null    float64
 78  PIT Count                                                  2011 non-null   float64
 79  Total Beds                                                 2019 non-null   int64
dtypes: float64(13), int64(56), object(11)
memory usage: 1.2+ MB

In [289]:
display(hud_num_df.sample(20))

,coc_number,"Total Year-Round Beds (ES, TH, SH)","Total Non-DV Year-Round Beds (ES, TH, SH)","Total HMIS Year-Round Beds (ES, TH, SH)",Total Year-Round Beds (ES),Total Year-Round Beds (TH),Total Year-Round Beds (SH),"Total Units for Households with Children (ES, TH, SH)","Total Beds for Households with Children (ES, TH, SH)","Total Beds for Households without Children (ES, TH, SH)",...,Beds HH w/o Children,CH Beds HH w/o Children,Beds HH w/ only Children,CH Beds HH w only Children,Year-Round Beds,DV Beds,Total Seasonal Beds,O/V Beds,PIT Count,Total Beds
628,NY-600,91411,87538,79772,87955,3416,40,15920,51402,39952,...,244.0,NaN,0.0,NaN,244,NaN,0.0,0.0,235.0,244
1478,NY-600,91411,87538,79772,87955,3416,40,15920,51402,39952,...,56.0,0.0,0.0,0.0,56,NaN,NaN,NaN,51.0,56
1127,NY-600,91411,87538,79772,87955,3416,40,15920,51402,39952,...,6.0,6.0,0.0,0.0,6,NaN,NaN,NaN,5.0,6
1689,NY-602,264,242,242,217,47,0,43,138,113,...,0.0,NaN,13.0,NaN,13,NaN,0.0,0.0,9.0,13
1021,NY-600,91411,87538,79772,87955,3416,40,15920,51402,39952,...,3.0,NaN,0.0,NaN,3,NaN,0.0,0.0,3.0,3
1709,NY-602,264,242,242,217,47,0,43,138,113,...,15.0,15.0,0.0,NaN,25,NaN,NaN,NaN,23.0,25
1414,NY-600,91411,87538,79772,87955,3416,40,15920,51402,39952,...,18.0,NaN,0.0,NaN,18,NaN,0.0,0.0,11.0,18
1367,NY-600,91411,87538,79772,87955,3416,40,15920,51402,39952,...,0.0,0.0,0.0,0.0,22,NaN,NaN,NaN,22.0,22
1691,NY-602,264,242,242,217,47,0,43,138,113,...,30.0,NaN,0.0,NaN,30,NaN,0.0,0.0,27.0,30
146,NY-503,473,443,210,314,157,2,56,140,333,...,31.0,NaN,0.0,NaN,31,NaN,NaN,NaN,31.0,31
1866,NY-603,3545,3442,3442,3424,101,20,610,2173,1362,...,4.0,0.0,NaN,NaN,4,NaN,NaN,NaN,3.0,4
1013,NY-600,91411,87538,79772,87955,3416,40,15920,51402,39952,...,77.0,NaN,0.0,NaN,77,NaN,0.0,0.0,77.0,77
622,NY-600,91411,87538,79772,87955,3416,40,15920,51402,39952,...,78.0,NaN,0.0,NaN,78,NaN,0.0,0.0,19.0,78
312,NY-508,1546,1408,1351,1102,444,0,172,589,928,...,6.0,NaN,0.0,NaN,6,NaN,NaN,NaN,6.0,6
1969,NY-604,1634,1583,1592,1112,522,0,367,1078,542,...,16.0,NaN,NaN,NaN,16,NaN,NaN,NaN,23.0,16
747,NY-600,91411,87538,79772,87955,3416,40,15920,51402,39952,...,28.0,NaN,0.0,NaN,28,NaN,0.0,0.0,27.0,28
692,NY-600,91411,87538,79772,87955,3416,40,15920,51402,39952,...,0.0,NaN,0.0,NaN,186,NaN,0.0,0.0,182.0,186
1136,NY-600,91411,87538,79772,87955,3416,40,15920,51402,39952,...,20.0,20.0,0.0,0.0,20,NaN,NaN,NaN,17.0,20
797,NY-600,91411,87538,79772,87955,3416,40,15920,51402,39952,...,131.0,NaN,0.0,NaN,131,NaN,0.0,0.0,117.0,131
1307,NY-600,91411,87538,79772,87955,3416,40,15920,51402,39952,...,15.0,NaN,0.0,NaN,15,NaN,NaN,NaN,12.0,15

In [290]:
print(hud_num_df['CoC'].value_counts())

CoC
New York City CoC                                                               1318
Nassau, Suffolk Counties CoC                                                     212
Buffalo, Niagara Falls/Erie, Niagara, Orleans, Genesee, Wyoming Counties CoC      96
Rochester, Irondequoit, Greece/Monroe County CoC                                  87
Syracuse, Auburn/Onondaga, Oswego, Cayuga Counties CoC                            84
Yonkers, Mount Vernon/Westchester County CoC                                      77
Albany City & County CoC                                                          61
Poughkeepsie/Dutchess County CoC                                                  37
Newburgh, Middletown/Orange County CoC                                            31
Rockland County CoC                                                               16
Name: count, dtype: int64

In [291]:
print(hud_num_df['Bed Type'].value_counts())
hud_num_df.drop(['Bed Type'], axis=1, inplace=True)

Bed Type
F    749
V     14
O     10
Name: count, dtype: int64

In [292]:
print(hud_num_df['beginsOperationsWithinYear'].value_counts())
hud_num_df.drop(['beginsOperationsWithinYear'], axis=1, inplace=True)

beginsOperationsWithinYear
1.0    8
Name: count, dtype: int64

In [293]:
print(hud_num_df['address1'].value_counts())
hud_num_df['address1'].fillna('None', inplace=True)

address1
33 Beaver Street             404
357 West 126th Street         12
202 E MAIN ST                 12
239 Oneida Street              9
675 West Main Street           8
                            ...
126 Albany Ave                 1
82-20 Astoria Blvd             1
215-34 Northern Boulevard      1
158 Beach 116 Street           1
50 Sanatorium Rd.              1
Name: count, Length: 1115, dtype: int64

In [294]:
print(hud_num_df['address2'].value_counts())
hud_num_df['address2'].fillna('None', inplace=True)

address2
3rd Floor            4
St. 300              2
Suite 125            2
Rochester            1
PO Box 1320          1
336 Forest Avenue    1
5th Floor            1
Suite #340           1
Name: count, dtype: int64

In [295]:
print(hud_num_df['city'].value_counts())
hud_num_df['city'].fillna('None', inplace=True)

city
New York       676
Bronx          257
Brooklyn       203
Rochester       83
Buffalo         47
              ...
Port Jervis      1
Newburgh         1
Bronx NY         1
Whitestone       1
Rockland         1
Name: count, Length: 167, dtype: int64

In [296]:
print(hud_num_df['state'].value_counts())
hud_num_df['state'].fillna('None', inplace=True)

state
NY    1938
NC       7
NV       4
MA       3
NM       2
Name: count, dtype: int64

In [297]:
print(hud_num_df['zip'].value_counts())
hud_num_df['zip'].fillna('None', inplace=True)

zip
10004.0    409
10456.0     46
10457.0     43
10459.0     38
10035.0     36
          ...
14052.0      1
12561.0      1
14086.0      1
11003.0      1
11370.0      1
Name: count, Length: 254, dtype: int64

In [298]:
print(hud_num_df['Beds HH w/ Children'].value_counts())
hud_num_df['Beds HH w/ Children'].fillna(0, inplace=True)
hud_num_df['Beds HH w/ Children'] = hud_num_df['Beds HH w/ Children'].astype(int)

Beds HH w/ Children
0.0      1099
2.0        29
10.0       22
12.0       20
5.0        20
         ...
203.0       1
331.0       1
264.0       1
164.0       1
138.0       1
Name: count, Length: 252, dtype: int64

In [299]:
print(hud_num_df['Units HH w/ Children'].value_counts())
hud_num_df['Units HH w/ Children'].fillna(0, inplace=True)
hud_num_df['Units HH w/ Children'] = hud_num_df['Units HH w/ Children'].astype(int)

Units HH w/ Children
0.0      1097
1.0        56
2.0        49
4.0        46
3.0        45
         ...
156.0       1
121.0       1
55.0        1
54.0        1
100.0       1
Name: count, Length: 134, dtype: int64

In [300]:
print(hud_num_df['CH Beds HH w/ Children'].value_counts())
hud_num_df['CH Beds HH w/ Children'].fillna(0, inplace=True)
hud_num_df['CH Beds HH w/ Children'] = hud_num_df['CH Beds HH w/ Children'].astype(int)

CH Beds HH w/ Children
0.0      750
2.0        6
14.0       5
32.0       5
4.0        5
        ...
59.0       1
61.0       1
89.0       1
65.0       1
110.0      1
Name: count, Length: 70, dtype: int64

In [301]:
print(hud_num_df['Beds HH w/o Children'].value_counts())
hud_num_df['Beds HH w/o Children'].fillna(0, inplace=True)
hud_num_df['Beds HH w/o Children'] = hud_num_df['Beds HH w/o Children'].astype(int)

Beds HH w/o Children
0.0      225
2.0       71
20.0      68
10.0      68
6.0       62
        ...
282.0      1
118.0      1
262.0      1
311.0      1
327.0      1
Name: count, Length: 221, dtype: int64

In [302]:
print(hud_num_df['CH Beds HH w/o Children'].value_counts())
hud_num_df['CH Beds HH w/o Children'].fillna(0, inplace=True)
hud_num_df['CH Beds HH w/o Children'] = hud_num_df['CH Beds HH w/o Children'].astype(int)

CH Beds HH w/o Children
0.0      371
20.0      33
1.0       20
6.0       19
40.0      17
        ...
213.0      1
111.0      1
92.0       1
91.0       1
449.0      1
Name: count, Length: 104, dtype: int64

In [303]:
print(hud_num_df['Beds HH w/ only Children'].value_counts())
hud_num_df['Beds HH w/ only Children'].fillna(0, inplace=True)
hud_num_df['Beds HH w/ only Children'] = hud_num_df['Beds HH w/ only Children'].astype(int)

Beds HH w/ only Children
0.0     1624
1.0        8
2.0        7
3.0        7
8.0        3
6.0        3
10.0       2
12.0       2
15.0       1
9.0        1
13.0       1
14.0       1
Name: count, dtype: int64

In [304]:
print(hud_num_df['CH Beds HH w only Children'].value_counts())
hud_num_df['CH Beds HH w only Children'].fillna(0, inplace=True)
hud_num_df['CH Beds HH w only Children'] = hud_num_df['CH Beds HH w only Children'].astype(int)

CH Beds HH w only Children
0.0    798
Name: count, dtype: int64

In [305]:
print(hud_num_df['DV Beds'].value_counts())
hud_num_df.drop(['DV Beds'], axis=1, inplace=True)

DV Beds
20.0     8
0.0      4
9.0      4
63.0     4
18.0     4
        ..
62.0     1
48.0     1
136.0    1
52.0     1
10.0     1
Name: count, Length: 66, dtype: int64

In [306]:
print(hud_num_df['Total Seasonal Beds'].value_counts())
hud_num_df['Total Seasonal Beds'].fillna(0, inplace=True)
hud_num_df['Total Seasonal Beds'] = hud_num_df['Total Seasonal Beds'].astype(int)

Total Seasonal Beds
0.0      609
20.0       2
19.0       2
15.0       1
8.0        1
130.0      1
10.0       1
5.0        1
30.0       1
26.0       1
55.0       1
Name: count, dtype: int64

In [307]:
print(hud_num_df['O/V Beds'].value_counts())
hud_num_df['O/V Beds'].fillna(0, inplace=True)
hud_num_df['O/V Beds'] = hud_num_df['O/V Beds'].astype(int)

O/V Beds
0.0      581
32.0       3
6.0        3
3.0        3
4.0        3
8.0        2
16.0       2
1.0        2
15.0       1
2.0        1
73.0       1
66.0       1
51.0       1
60.0       1
5.0        1
58.0       1
12.0       1
82.0       1
91.0       1
7.0        1
69.0       1
10.0       1
83.0       1
156.0      1
75.0       1
132.0      1
Name: count, dtype: int64

In [308]:
print(hud_num_df['PIT Count'].value_counts())
hud_num_df['PIT Count'].fillna(0, inplace=True)
hud_num_df['PIT Count'] = hud_num_df['PIT Count'].astype(int)

PIT Count
6.0      46
15.0     43
9.0      42
5.0      42
8.0      41
         ..
255.0     1
462.0     1
490.0     1
250.0     1
259.0     1
Name: count, Length: 307, dtype: int64

In [309]:
hud_num_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2019 entries, 0 to 2018
Data columns (total 77 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   coc_number                                                 2019 non-null   object
 1   Total Year-Round Beds (ES, TH, SH)                         2019 non-null   int64
 2   Total Non-DV Year-Round Beds (ES, TH, SH)                  2019 non-null   int64
 3   Total HMIS Year-Round Beds (ES, TH, SH)                    2019 non-null   int64
 4   Total Year-Round Beds (ES)                                 2019 non-null   int64
 5   Total Year-Round Beds (TH)                                 2019 non-null   int64
 6   Total Year-Round Beds (SH)                                 2019 non-null   int64
 7   Total Units for Households with Children (ES, TH, SH)      2019 non-null   int64
 8   Total Beds for Households with Children (ES, TH, SH)       2019 non-null   int64
 9   Total Beds for Households without Children (ES, TH, SH)    2019 non-null   int64
 10  Total Beds for Households with only Children (ES, TH, SH)  2019 non-null   int64
 11  Total Non-DV Year-Round Beds (ES)                          2019 non-null   int64
 12  Total HMIS Year-Round Beds (ES)                            2019 non-null   int64
 13  Total Seasonal Beds (ES)                                   2019 non-null   int64
 14  Total Overflow Beds (ES)                                   2019 non-null   int64
 15  Total Units for Households with Children (ES)              2019 non-null   int64
 16  Total Beds for Households with Children (ES)               2019 non-null   int64
 17  Total Beds for Households without Children (ES)            2019 non-null   int64
 18  Total Beds for Households with only Children (ES)          2019 non-null   int64
 19  Total Non-DV Year-Round Beds (TH)                          2019 non-null   int64
 20  Total HMIS Year-Round Beds (TH)                            2019 non-null   int64
 21  Total Units for Households with Children (TH)              2019 non-null   int64
 22  Total Beds for Households with Children (TH)               2019 non-null   int64
 23  Total Beds for Households without Children (TH)            2019 non-null   int64
 24  Total Beds for Households with only Children (TH)          2019 non-null   int64
 25  Total Non-DV Year-Round Beds (SH)                          2019 non-null   int64
 26  Total HMIS Year-Round Beds (SH)                            2019 non-null   int64
 27  Total Units for Households with Children (SH)              2019 non-null   int64
 28  Total Beds for Households with Children (SH)               2019 non-null   int64
 29  Total Beds for Households without Children (SH)            2019 non-null   int64
 30  Total Beds for Households with only Children (SH)          2019 non-null   int64
 31  Total Year-Round Beds (RRH)                                2019 non-null   int64
 32  Total Non-DV Year-Round Beds (RRH)                         2019 non-null   int64
 33  Total HMIS Year-Round Beds (RRH)                           2019 non-null   int64
 34  Total Units for Households with Children (RRH)             2019 non-null   int64
 35  Total Beds for Households with Children (RRH)              2019 non-null   int64
 36  Total Beds for Households without Children (RRH)           2019 non-null   int64
 37  Total Beds for Households with only Children (RRH)         2019 non-null   int64
 38  Total Year-Round Beds (PSH)                                2019 non-null   int64
 39  Total Non-DV Year-Round Beds (PSH)                         2019 non-null   int64
 40  Total HMIS Year-Round Beds (PSH)                           2019 non-null   int64
 41  Total Units for Households with Children (PSH)             2019 non-null   int64
 42  Total Beds for Households with Children (PSH)              2019 non-null   int64
 43  Total Beds for Households without Children (PSH)           2019 non-null   int64
 44  Total Beds for Households with only Children (PSH)         2019 non-null   int64
 45  Dedicated Chronically Homeless Beds (PSH)                  2019 non-null   int64
 46  Total Year-Round Beds (OPH)                                2019 non-null   int64
 47  Total Non-DV Year-Round Beds (OPH)                         2019 non-null   int64
 48  Total HMIS Year-Round Beds (OPH)                           2019 non-null   int64
 49  Total Units for Households with Children (OPH)             2019 non-null   int64
 50  Total Beds for Households with Children (OPH)              2019 non-null   int64
 51  Total Beds for Households without Children (OPH)           2019 non-null   int64
 52  Total Beds for Households with only Children (OPH)         2019 non-null   int64
 53  CoC                                                        2019 non-null   object
 54  Coc_ID                                                     2019 non-null   int64
 55  Organization ID                                            2019 non-null   int64
 56  Organization Name                                          2019 non-null   object
 57  Project Name                                               2019 non-null   object
 58  Project Type                                               2019 non-null   object
 59  housingType                                                2019 non-null   object
 60  address1                                                   2019 non-null   object
 61  address2                                                   2019 non-null   object
 62  city                                                       2019 non-null   object
 63  state                                                      2019 non-null   object
 64  zip                                                        2019 non-null   object
 65  Beds HH w/ Children                                        2019 non-null   int64
 66  Units HH w/ Children                                       2019 non-null   int64
 67  CH Beds HH w/ Children                                     2019 non-null   int64
 68  Beds HH w/o Children                                       2019 non-null   int64
 69  CH Beds HH w/o Children                                    2019 non-null   int64
 70  Beds HH w/ only Children                                   2019 non-null   int64
 71  CH Beds HH w only Children                                 2019 non-null   int64
 72  Year-Round Beds                                            2019 non-null   int64
 73  Total Seasonal Beds                                        2019 non-null   int64
 74  O/V Beds                                                   2019 non-null   int64
 75  PIT Count                                                  2019 non-null   int64
 76  Total Beds                                                 2019 non-null   int64
dtypes: int64(66), object(11)
memory usage: 1.2+ MB

In [ ]:
'''
coc_number                                                 
Total Year-Round Beds (ES, TH, SH)                         
Total Non-DV Year-Round Beds (ES, TH, SH)                  
Total HMIS Year-Round Beds (ES, TH, SH)                    
Total Year-Round Beds (ES)                                 
Total Year-Round Beds (TH)                                 
Total Year-Round Beds (SH)                                 
Total Units for Households with Children (ES, TH, SH)      
Total Beds for Households with Children (ES, TH, SH)       
Total Beds for Households without Children (ES, TH, SH)    
Total Beds for Households with only Children (ES, TH, SH)  
Total Non-DV Year-Round Beds (ES)                          
Total HMIS Year-Round Beds (ES)                            
Total Seasonal Beds (ES)                                   
Total Overflow Beds (ES)                                   
Total Units for Households with Children (ES)              
Total Beds for Households with Children (ES)               
Total Beds for Households without Children (ES)            
Total Beds for Households with only Children (ES)          
Total Non-DV Year-Round Beds (TH)                          
Total HMIS Year-Round Beds (TH)                            
Total Units for Households with Children (TH)              
Total Beds for Households with Children (TH)               
Total Beds for Households without Children (TH)            
Total Beds for Households with only Children (TH)          
Total Non-DV Year-Round Beds (SH)                          
Total HMIS Year-Round Beds (SH)                            
Total Units for Households with Children (SH)              
Total Beds for Households with Children (SH)               
Total Beds for Households without Children (SH)            
Total Beds for Households with only Children (SH)          
Total Year-Round Beds (RRH)                                
Total Non-DV Year-Round Beds (RRH)                         
Total HMIS Year-Round Beds (RRH)                           
Total Units for Households with Children (RRH)             
Total Beds for Households with Children (RRH)              
Total Beds for Households without Children (RRH)           
Total Beds for Households with only Children (RRH)         
Total Year-Round Beds (PSH)                                
Total Non-DV Year-Round Beds (PSH)                         
Total HMIS Year-Round Beds (PSH)                           
Total Units for Households with Children (PSH)             
Total Beds for Households with Children (PSH)              
Total Beds for Households without Children (PSH)           
Total Beds for Households with only Children (PSH)         
Dedicated Chronically Homeless Beds (PSH)                  
Total Year-Round Beds (OPH)                                
Total Non-DV Year-Round Beds (OPH)                         
Total HMIS Year-Round Beds (OPH)                           
Total Units for Households with Children (OPH)             
 Total Beds for Households with Children (OPH)              
Total Beds for Households without Children (OPH)           
Total Beds for Households with only Children (OPH)         
CoC                                                        
Coc_ID                                                     
Organization ID                                            
Organization Name                                          
Project Name                                               
Project Type                                              
housingType                                                
address1                                                   
address2                                                   
city                                                       
state                                                      
zip                                                        
Beds HH w/ Children                                        
Units HH w/ Children                                       
CH Beds HH w/ Children                                     
Beds HH w/o Children                                       
CH Beds HH w/o Children                                    
Beds HH w/ only Children                                   
CH Beds HH w only Children                                 
Year-Round Beds                                            
Total Seasonal Beds                                        
O/V Beds                                                   
PIT Count                                                  
Total Beds
'''

In [310]:
#print(hud_num_df.columns.isna())
#print(hud_num_df.query("coc_number == 'NY-522' and availability_start_date.notna()"))
#print(hud_num_df['coc_number'].value_counts())
#print(hud_num_df['availability_start_date'].notna().count())
#print(hud_num_df['availability_end_date'].notna().count())
#print(hud_num_df.query("CoC.str.contains('Suffolk') or CoC.str.contains('Nassau') or CoC.str.contains('Westchester') or CoC.str.contains('New York City') or CoC.str.contains('Erie') or CoC.str.contains('Monroe') or CoC.str.contains('Onondaga') or CoC.str.contains('Orange') or CoC.str.contains('Rockland') or CoC.str.contains('Albany') or CoC.str.contains('Dutchess')"))